.form-primary {
    display: flex;
    flex-direction: column;

    &__title {
        text-align: center;
        font-weight: 500;
        @include adaptiveValue("font-size", 20, 18);
        line-height: math.div(36, 20);
        color: $blackColor;
    }

    &__label {
        margin-top: 20px;
        position: relative;
    }

    &__input {
        width: 100%;
        background: rgba(201, 210, 234, 0.1);
        box-shadow: inset 0px 4px 4px rgba(201, 210, 234, 0.29);
        border-radius: 6px;
        height: 50px;
        line-height: math.div(26, 16);
        color: #7E83AE;
        @include adaptiveValue("font-size", 16, 14);
        padding: 0 20px;

        &.just-validate-error-field {
            border: 1px solid rgba(204, 51, 51, 0.3);
        }

        &+.just-validate-error-label {
            font-size: 14px;
            color: #FC3F1D;
            margin-top: 5px;

            @media (max-width:$mobile) {
                font-size: 12px;
            }
        }

        &::placeholder {
            color: #7E83AE;
        }

        @media (max-width:$smallTablet) {
            height: 46px;
            margin-top: 15px;
        }
    }

    &__label--calendar {
        cursor: pointer;
        display: inline-block;
        position: relative;
        max-height: 50px;

        &::before {
            font-size: 20px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 20px;
            color: #39B6C0
        }
    }

    &__input--calendar {
        cursor: pointer;
    }

    &__btn {
        font-size: 16px;
        line-height: math.div(16, 16);
        margin-top: 30px;
        align-self: center;
        padding: 18px 77px 17px;

        @media (max-width:$mobile) {
            font-size: 14px;
            margin-top: 15px;
            padding: 15px 30px;
            align-self: stretch;
        }
    }

    &__agreement {
        margin-top: 20px;
        text-align: center;
        @include adaptiveValue("font-size", 12, 10);
        line-height: math.div(12, 12);
        color: #7E83AE;

        span {
            text-decoration: underline;
        }
    }
}
