.header {

    &__top {
        background: #F1F3F7;
    }

    &__body {
        background: $whiteColor;
        box-shadow: 0px 2px 10px rgba(78, 127, 222, 0.2);
    }

    &__bottom {
        margin-top: 15px;
        background: $whiteColor;
        height: 44px;

        @media (max-width:$burgerMenuPx) {
            background: #F1F3F7;
        }
    }
}


// ==================================================================================================


.header-top {
    &__inner {
        display: grid;
        grid-template-columns: max-content 1fr;
        align-items: center;
    }

    &__right {
        display: flex;
        align-items: center;
        justify-content: end;
    }

    &__search {
        margin-right: 18px;

        @media (max-width:$smallTablet) {
            margin-right: 0;
        }
    }

    &__cart {
        display: flex;
        align-items: center;

        &::before {
            font-size: 20px;
            margin-right: 8px;
            position: relative;
            top: -2px;
        }
    }

    @media (max-width:768px) {
        display: none;
    }
}


.header-address {
    position: relative;

    &__btn {
        color: $blackColor;
        font-size: 15px;
        display: flex;
        align-items: center;
        position: relative;
        padding: 13px 36px 10px 15px;
        border-radius: 6px;
        transition: background-color $transitionSpeed $transitionFunction,
            filter $transitionSpeed $transitionFunction;

        &::before {
            font-size: 6px;
            color: #028ECE;
            position: absolute;
            right: 13px;
            transition: transform $transitionSpeed $transitionFunction;
        }

        &--active {
            filter: drop-shadow(0px 2px 20px rgba(78, 127, 222, 0.2));
            background-color: $whiteColor;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            &::before {
                transform: rotate(-180deg);
            }
        }

        &:hover {
            filter: drop-shadow(0px 2px 20px rgba(78, 127, 222, 0.2));
            background-color: $whiteColor;
        }
    }

    &__list {
        z-index: 99;
        position: absolute;
        top: calc(100% - 5px);

        background: $whiteColor;
        filter: drop-shadow(0px 2px 20px rgba(78, 127, 222, 0.2));

        border-radius: 6px;
        width: 300px;
        padding: 15px 0;

        opacity: 0;
        visibility: hidden;
        transition: opacity $transitionSpeed $transitionFunction,
            visibility $transitionSpeed $transitionFunction;

        &--active {
            opacity: 1;
            visibility: visible;
        }

        @media (max-width:$smallTablet) {
            left: 70%;
            transform: translateX(-70%);
            top: 100%;
        }
    }

    &__item {
        &:not(:first-child) {
            margin-top: 20px;
        }
    }

    @media (max-width:$smallTablet) {
        margin-left: auto;
    }
}

.header-address-item {

    &__wrapper {
        display: grid;
        grid-template-columns: 9px 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 5px;
        font-size: 12px;
        line-height: math.div(15, 12);
        padding: 0 15px;

        svg {
            width: 9px;
            height: 12px;
            fill: #39B6C0;
            grid-row: 2 span;
        }
    }

    &__title {
        font-weight: 500;
        color: $blackColor;
    }

    &__descr {
        color: $wildBlueColor;
    }
}


// ==================================================================================================



.header-body {

    &__inner {
        display: flex;
        align-items: center;
        padding-top: 22px;
        padding-bottom: 22px;

        @media (max-width:1050px) {
            .header-body__schedule {
                display: none;
            }

            .back-call__social {
                display: none;
            }
        }

        @media (max-width:768px) {
            .header-body__btn {
                display: none;
            }
        }
    }

    &__logo {}

    &__btn {
        @include adaptiveValue("margin-left", 155, 20, $contentWidth, $burgerMenu, 1);
    }

    &__schedule {
        margin-left: auto;
        padding-left: 20px;
        @include adaptiveValue("margin-right", 65, 40, $contentWidth, $burgerMenu, 1);
        color: $blackSecondaryColor;
        @include adaptiveValue("font-size", 15, 12);
        line-height: math.div(24, 15);

        @media (max-width:$burgerMenuPx) {
            padding: 0;
            margin: 0;
            color: $whiteColor;
        }
    }

    &__back-call {
        @media (max-width:$burgerMenuPx) {
            margin-left: auto;
        }
    }
}


// ==================================================================================================



.header-bottom {

    &__inner {
        position: relative;
        height: 100%;

        @media (max-width:$burgerMenuPx) {
            display: flex;
            align-items: center;
        }
    }

    &__nav {
        height: 100%;
    }
}



.nav-dropdown {
    &__btn {
        font-size: 17px;
        line-height: math.div(24, 17);
        font-weight: 500;
        color: $blackColor;

        &--arrow {
            padding-right: 16px;
            position: relative;

            &::before {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
                font-size: 6px;
                color: #028ECE;
                display: block;
                transition: transform $transitionSpeed $transitionFunction;
            }
        }

        @media (max-width:$burgerMenuPx) {
            width: 100%;
            color: $whiteColor;
            font-size: 15px;
            padding: 8px 20px 8px;

            &--arrow {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &::before {
                    color: $whiteColor;
                    transform: translateY(-50%) rotate(-90deg);
                    right: 20px;
                }
            }
        }
    }

    &__box {
        z-index: 999;
        display: flex;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 44px;
        left: 0;
        background: $whiteColor;
        border-radius: 6px;
        filter: drop-shadow(0px 2px 20px rgba(78, 127, 222, 0.2));
        padding: 35px 60px 30px;
        transition: opacity $transitionSpeed $transitionFunction,
            visibility $transitionSpeed $transitionFunction;
        width: 100%;
       @media (min-width:1051px){
        max-height: 420px;
        overflow: auto;
       }
        @media (max-width:$burgerMenuPx) {
            transform: translateX(-100%);
            transition: opacity $transitionSpeed $transitionFunction,
                visibility $transitionSpeed $transitionFunction,
                transform $transitionSpeed $transitionFunction;
            flex-direction: column;
            top: 0;
            background: #0C669C;
            border-radius: 0;
            padding: 0;
            padding-top: 20px;

            &.active {
                opacity: 1;
                visibility: visible;
                transform: translateX(0);
            }
        }
    }

    &__column {
        @media (min-width:$burgerMenuPx) {
            &:not(:last-child) {
                margin-right: 120px;
            }
        }

        @media (max-width:$burgerMenuPx) {
            display: flex;
            flex-direction: column;
        }
    }

    &__back {
        display: none;
        color: $whiteColor;
        font-weight: 500;
        font-size: 15px;
        line-height: math.div(24, 15);
        align-items: center;
        position: relative;
        padding: 12px 40px 8px;
        background: rgba(27, 29, 50, 0.26);
        margin-bottom: 5px;

        &::before {
            font-size: 6px;
            color: $whiteColor;
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translateY(-50%) rotate(90deg);
            line-height: 1;
        }

        @media (max-width:$burgerMenuPx) {
            display: flex;
        }
    }

    &__item {}

    &__link {
        font-size: 14px;

        color: $blackColor;
        transition: color $transitionSpeed $transitionFunction;
        padding: 10px 0;
        position: relative;

        @media (min-width:1051px) {
            &:before {
                content: '';
                position: absolute;
                bottom: 8px;
                left: 0;
                display: block;
                width: 100%;
                border-bottom: 1px dashed currentColor;
            }

            &:hover {
                color: #0C669C;
            }
        }

        @media (max-width:$burgerMenuPx) {
            color: $whiteColor;
            padding: 8px 20px 8px
        }
    }

    @media (min-width:$burgerMenuPx) {
        &:hover {
            .nav-dropdown__box {
                opacity: 1;
                visibility: visible;
            }

            .nav-dropdown__btn--arrow {
                &::before {
                    transform: translateY(-50%) rotate(180deg);
                }
            }
        }
    }
}
