.our-rating {
    @include adaptiveValue("margin-top",100 ,50 );
    &__title {
        font-weight: 500;
        @include adaptiveValue("font-size", 30, 24);
        line-height: math.div(30, 30);
        text-align: center;
        color: #2A2651;
    }

    &__inner {
        margin-top: 45px;
        position: relative;
        @media (max-width:$smallTablet){
             margin-top: 40px; 
        }
    }
    &__wrapper{
      @media (max-width:$tablet){
        padding-right: 15px;
        margin-right: -15px;
      }
    }
    &__item {
        display: flex;
        align-items: center;
    }
}

.our-rating-item {

    &__info {
        margin-left: 12px;
        display: flex;
        flex-direction: column;

        a {
            transition: color $transitionSpeed $transitionFunction;
            margin-top: 8px;
            font-size: 12px;
            line-height: math.div(12, 12);
            color: #2A2651;
            border-bottom: 1px dashed currentColor;
            &:hover{
                color: #39B6C0;
            }
        }
    }
}

