.progress-circle {
    position: relative;
    min-width: 70px;
    min-height: 70px;
    svg {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    circle {
        display: block;
        transform-origin: center;
        transform: rotate(-90deg) translateX(32px) translateY(12px);
    }

    &__progress--bg {
        stroke: transparent;
    }

    &__progress {
        stroke: rgba(51, 193, 204, 0.26);
    }

    &__value {
        position: absolute;
        top: calc(50% + 1px);
        left: 50%;
        transform: translate(-50%, -50%);

        font-size: 18px;
        line-height: math.div(18, 18);
        color: #2A2651;
    }
}
