<section class="about">
    <div class="container">
        <h2 class="about__title title-h2">
            О клинике
        </h2>
        <div class="about__inner">

            <div class="about__tabs about-tabs tabs" data-tabs="about-tabs">
                <ul class="tabs__nav list-reset">
                    <li class="tabs__nav-item">
                        <button class="tabs__nav-btn btn-reset" type="button">
                            Видео
                        </button>
                    </li>
                    <li class="tabs__nav-item">
                        <button class="tabs__nav-btn btn-reset" type="button">
                            Фото
                        </button>
                    </li>
                    <li class="tabs__nav-item">
                        <button class="tabs__nav-btn btn-reset" type="button">
                            3D - тур
                        </button>
                    </li>
                </ul>
                <div class="about-tabs__inner">
                    <div class="tabs__content">
                        <div class="tabs__panel about-video about-tabs--decor">
                            <div class="about-tabs__container">
                                <div class="video-modal" data-video-modal>
                                    <button type="button" class="video-modal__poster btn btn-reset">
                                        <img class="video-modal__img" src="img/about/about-photo/about-photo-2.jpg"
                                            alt="">
                                        <span class="video-modal__play play--triagle">
                                            Запустить видео
                                        </span>
                                    </button>
                                    <div class="video-modal__start">
                                        <video controls class="video-js video-modal__video"
                                            poster="img/about/about-photo/about-photo-2.jpg">
                                            <source src="./video.mp4" type="video/mp4">
                                        </video>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tabs__panel about-photo about-tabs--decor">
                            <div class="about-tabs__container">
                                <div class="about-photo__inner">
                                    <div class="swiper about-photo__slider">
                                        <div class="swiper-wrapper about-photo__gallery">
                                            <a href="img/about/about-photo/about-photo-1.jpg"
                                                class="swiper-slide about-photo__slide about-photo-slide">
                                                <img src="img/about/about-photo/about-photo-1.jpg" alt="">
                                            </a>
                                            <a href="img/about/about-photo/about-photo-2.jpg"
                                                class="swiper-slide about-photo__slide about-photo-slide">
                                                <img src="img/about/about-photo/about-photo-2.jpg" alt="">
                                            </a>
                                            <a href="img/about/about-photo/about-photo-1.jpg"
                                                class="swiper-slide about-photo__slide about-photo-slide">
                                                <img src="img/about/about-photo/about-photo-1.jpg" alt="">
                                            </a>
                                            <a href="img/about/about-photo/about-photo-2.jpg"
                                                class="swiper-slide about-photo__slide about-photo-slide">
                                                <img src="img/about/about-photo/about-photo-2.jpg" alt="">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="about-photo-nav about-photo-nav--prev icon-arrow-right"></div>
                                    <div class="about-photo-nav about-photo-nav--next icon-arrow-right"></div>
                                    <div class="about-photo-pagination"></div>
                                </div>
                            </div>
                        </div>
                        <div class="tabs__panel about-video about-tabs--decor">
                            <div class="about-tabs__container">
                                <div class="video-modal" data-video-modal>
                                    <button type="button" class="video-modal__poster btn btn-reset">
                                        <img class="video-modal__img" src="img/about/about-photo/about-photo-2.jpg"
                                            alt="">
                                        <span class="video-modal__play play--triagle">
                                            Запустить видео
                                        </span>
                                    </button>
                                    <div class="video-modal__start">
                                        <video controls class="video-js video-modal__video"
                                            poster="img/about/about-photo/about-photo-2.jpg">
                                            <source src="./video.mp4" type="video/mp4">
                                        </video>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="about__content about-content">
                        <div class="about-content__text">
                            <p>
                                В "Доктор Линз" мы применяем индивидуальный подход и поиск оптимального решения
                                для каждого пациента с учётом его диагноза, возможностей и пожеланий
                            </p>
                            <p>
                                У нас ведут приём специалисты разных профилей в области офтальмологии и
                                ортокератологии, благодаря чему мы можем предложить нашим клиентам омплексное
                                комплексное лечение проблем зрения
                            </p>
                            <p>
                                Мы работаем, чтобы у вас появилась возможность увидеть мир в новом высоком
                                разрешении
                            </p>
                        </div>
                        <button type="submit"
                            class="btn btn-reset btn--secondary about-content__btn icon-arrow-right">Подробнее</button>
                    </div>
                </div>
            </div>
            <ul class="about__list about-list list-reset">
                <li class="about-list__item">
                    <svg class="about-list__icon">
                        <use xlink:href="img/sprite.svg#about-list-1"></use>
                    </svg>
                    <h3 class="about-list__title">
                        Подбор Ночных линз – это наша специализация
                    </h3>
                    <p class="about-list__descr">
                        У нас более 15 лет успешного опыта работы с ночными линзами. Все врачи прошли углубленную
                        специализацию по ортокератологии и детской офтальмологии
                    </p>
                </li>
                <li class="about-list__item">
                    <svg class="about-list__icon">
                        <use xlink:href="img/sprite.svg#about-list-2"></use>
                    </svg>
                    <h3 class="about-list__title">
                        Современное оборудование для диагностики и аппаратного лечения
                    </h3>
                    <p class="about-list__descr">
                        Благодаря новейшему оборудованию и опыту наших врачей мы оказываем офтальмологическую помощь
                        детям с рождения.
                    </p>
                </li>
                <li class="about-list__item">
                    <svg class="about-list__icon">
                        <use xlink:href="img/sprite.svg#about-list-3"></use>
                    </svg>
                    <h3 class="about-list__title">
                        3 из 4 клиентов нашей клиники приходят по рекомендации
                    </h3>
                    <p class="about-list__descr">
                        Более 13 000 счастливых клиентов рекомендуют клинику своим друзьям и знакомым, а так же нас
                        рекомендуют врачи и окулисты из оптик в Новосибирске
                    </p>
                </li>
                <li class="about-list__item">
                    <svg class="about-list__icon">
                        <use xlink:href="img/sprite.svg#about-list-4"></use>
                    </svg>
                    <h3 class="about-list__title">
                        Колоссальный
                        опыт высококлассных врачей высшей категории.
                    </h3>
                    <p class="about-list__descr">
                        Занимаемся клиническими исследованиями, выступаем на научных конференциях и публикуем статьи в
                        науч.журналах.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>
