<section class="benefits">
    <div class="container">
        <h2 class="benefits__title">
            Преимущества выбора ночных линз
            в нашем центре
        </h2>
        <p class="benefits__subtitle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare volutpat egestas habitant viverra felis, sed
            rhoncus ullamcorper penatibus.
        </p>
        <div class="swiper benefits__list" data-mobile="false">
            <div class="swiper-wrapper">
                <div class="swiper-slide benefits__item benefits-item">
                    <a href="#" class="benefits-item__wrapper">
                        <picture>
                            <source srcset="img/benefits/benefits-img-1.avif" type="image/avif">
                            <source srcset="img/benefits/benefits-img-1.webp" type="image/webp">
                            <img loading="lazy" src="img/benefits/benefits-img-1.png" class="benefits-item__img"
                                width="300" height="103" alt="Глаз">
                        </picture>
                        <div class="benefits-item__content">
                            <h4 class="benefits-item__title">
                                15 лет опыта работы
                                с ночными линзами
                            </h4>
                            <p class="benefits-item__descr">
                                Мы специализируемся на Ночных линзах и обладаем самой высокой экспертностью в области
                                ночных
                                линз в Сибири
                            </p>
                        </div>
                        <button type="submit" class="btn btn-reset icon-plus benefits-item__btn">+</button>
                    </a>
                </div>
                <div class="swiper-slide benefits__item benefits-item">
                    <a href="#" class="benefits-item__wrapper">
                        <picture>
                            <source srcset="img/benefits/benefits-img-2.avif" type="image/avif">
                            <source srcset="img/benefits/benefits-img-2.webp" type="image/webp">
                            <img loading="lazy" src="img/benefits/benefits-img-2.png" class="benefits-item__img"
                                width="300" height="103" alt="Глаз">
                        </picture>
                        <div class="benefits-item__content">
                            <h4 class="benefits-item__title">
                                Мы гарантируем результат даже в самых сложных случаях
                            </h4>
                            <p class="benefits-item__descr">
                                99% наших клиентов довольны результатом ношения ночных линз. Если что-то пойдет не так,
                                мы вернем деньги без лишней бюрократии.
                            </p>
                        </div>
                        <button type="submit" class="btn btn-reset icon-plus benefits-item__btn">+</button>
                    </a>
                </div>
                <div class="swiper-slide benefits__item benefits-item">
                    <a href="#" class="benefits-item__wrapper">
                        <picture>
                            <source srcset="img/benefits/benefits-img-3.avif" type="image/avif">
                            <source srcset="img/benefits/benefits-img-3.webp" type="image/webp">
                            <img loading="lazy" src="img/benefits/benefits-img-3.png" class="benefits-item__img"
                                width="300" height="103" alt="Глаз">
                        </picture>
                        <div class="benefits-item__content">
                            <h4 class="benefits-item__title">
                                Бесплатная консультация
                                и сопровождение
                            </h4>
                            <p class="benefits-item__descr">
                                В стоимость Ночных линз включены - 4 профилактических визита в год, на которых врач
                                контролирует ваше зрение и состояние линз
                            </p>
                        </div>
                        <button type="submit" class="btn btn-reset icon-plus benefits-item__btn">+</button>
                    </a>
                </div>
                <div class="swiper-slide benefits__item benefits-item">
                    <a href="#" class="benefits-item__wrapper">
                        <picture>
                            <source srcset="img/benefits/benefits-img-4.avif" type="image/avif">
                            <source srcset="img/benefits/benefits-img-4.webp" type="image/webp">
                            <img loading="lazy" src="img/benefits/benefits-img-4.png" class="benefits-item__img"
                                width="300" height="103" alt="Глаз">
                        </picture>
                        <div class="benefits-item__content">
                            <h4 class="benefits-item__title">
                                Ночные линзы индивидуально для самых сложных случаев.
                            </h4>
                            <p class="benefits-item__descr">
                                Подбираем с применением 3D моделирования и индивидуально изготавливаем в лаборатории.
                                Для идеального комфорта и контроля прогрессирования близорукости
                            </p>
                        </div>
                        <button type="submit" class="btn btn-reset icon-plus benefits-item__btn">+</button>
                    </a>
                </div>
            </div>
            <div class="benefits__pagination"></div>
        </div>
    </div>
</section>
