<div class="diseases">
    <div class="container">
        <h2 class="diseases__title title-h2">
            С какими заболеваниями мы работаем
        </h2>
        <p class="diseases__subtitle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare volutpat egestas habitant viverra felis, sed
            rhoncus ullamcorper penatibus.
        </p>
        <div class="diseases__inner">
            <img class="diseases__eye" src="img/diseases.svg" alt="eye">
            <button class="diseases__btn diseases__btn--lightblue diseases__btn--big diseases__btn--1 btn-reset"
                data-graph-path="">
                <span class="icon-plus">+</span>
                <span>Пресбиопия</span>
            </button>
            <button
                class="diseases__btn diseases__btn--lightblue diseases__btn--right diseases__btn--small diseases__btn--2 btn-reset"
                data-graph-path="">
                <span class="icon-plus">+</span>
                <span>Косоглазие</span>
            </button>
            <button
                class="diseases__btn diseases__btn--blue diseases__btn--left diseases__btn--big diseases__btn--3 btn-reset"
                data-graph-path="">
                <span class="icon-plus">+</span>
                <span>Близорукость</span>
            </button>
            <button class="diseases__btn diseases__btn--lightblue diseases__btn--big diseases__btn--4 btn-reset"
                data-graph-path="">
                <span class="icon-plus">+</span>
                <span>Конъюнктивит</span>
            </button>
            <button
                class="diseases__btn diseases__btn--blue diseases__btn--right diseases__btn--big diseases__btn--5 btn-reset"
                data-graph-path="">
                <span class="icon-plus">+</span>
                <span>Дальнозоркость</span>
            </button>
            <button
                class="diseases__btn diseases__btn--left diseases__btn--lightblue diseases__btn--small diseases__btn--6 btn-reset"
                data-graph-path="">
                <span class="icon-plus">+</span>
                <span>Блефарит</span>
            </button>
            <button
                class="diseases__btn diseases__btn--blue diseases__btn--left diseases__btn--big diseases__btn--7 btn-reset"
                data-graph-path="">
                <span class="icon-plus">+</span>
                <span>Астигматизм</span>
            </button>
            <button
                class="diseases__btn diseases__btn--blue diseases__btn--right diseases__btn--big diseases__btn--8 btn-reset"
                data-graph-path="">
                <span class="icon-plus">+</span>
                <span>Амблиопия</span>
            </button>
        </div>
    </div>
</div>
