<footer class="footer">
    <div class="footer__body footer-body">
        <div class="container footer-body__inner">
            <ul class="footer-body__list list-reset">
                <li class="footer-body__item footer-body__item--logo footer-logo">
                    <a href="#" class="footer-logo__logo logo">
                        <picture>
                            <source srcset="img/logo--white.avif" type="image/avif">
                            <source srcset="img/logo--white.webp" type="image/webp">
                            <img loading="lazy" src="img/logo--white.png" class="logo__img" alt="Доктор Линз">
                        </picture>
                    </a>
                    <p class="footer-logo__license">
                        Лицензия N 0000 0000
                    </p>
                </li>
                <li class="footer-body__item footer-body__item--menu footer-menu">
                    <ul data-spollers="768,max" data-one-spoller class="footer-spollers__list list-reset">
                        <li class="footer-spollers__item">
                            <button tabindex="-1" type="button" data-spoller
                                class="footer-spollers__title btn btn-reset icon-triagle-arrow-down">
                                Меню
                            </button>
                            <div class="footer-spollers__content">
                                <div class="footer-menu__inner">
                                    <ul class="footer-menu__list list-reset">
                                        <li class="footer-menu__item">
                                            <a href="#" class="footer-menu__link">
                                                Главная
                                            </a>
                                        </li>
                                        <li class="footer-menu__item">
                                            <a href="#" class="footer-menu__link">
                                                О клинике
                                            </a>
                                        </li>
                                        <li class="footer-menu__item">
                                            <a href="#" class="footer-menu__link">
                                                Услуги
                                            </a>
                                        </li>
                                        <li class="footer-menu__item">
                                            <a href="#" class="footer-menu__link">
                                                Специалисты
                                            </a>
                                        </li>
                                        <li class="footer-menu__item">
                                            <a href="#" class="footer-menu__link">
                                                Цены
                                            </a>
                                        </li>
                                    </ul>
                                    <ul class="footer-menu__list list-reset">
                                        <li class="footer-menu__item">
                                            <a href="#" class="footer-menu__link">
                                                Отзывы
                                            </a>
                                        </li>
                                        <li class="footer-menu__item">
                                            <a href="#" class="footer-menu__link">
                                                Вопросы и ответы
                                            </a>
                                        </li>
                                        <li class="footer-menu__item">
                                            <a href="#" class="footer-menu__link">
                                                Контакты
                                            </a>
                                        </li>
                                        <button type="submit"
                                            class="btn btn-reset btn--primary footer-menu__cart icon-cart"
                                            data-da=".footer-menu,1050,last">
                                            Интернет-магазин
                                        </button>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="footer-body__item footer-body__item--address footer-address">
                    <div class="footer-address__row">
                        <h4 class="footer-address__title">
                            Новосибирск
                        </h4>
                        <p class="footer-address__descr">
                            ул. Сакко и Ванцетти 77
                        </p>
                        <p class="footer-address__descr">
                            ул. Крылова 63
                        </p>
                        <p class="footer-address__descr">
                            ул. Степная 6
                        </p>
                    </div>
                    <div class="footer-address__row">
                        <h4 class="footer-address__title">
                            Кемерово
                        </h4>
                        <p class="footer-address__descr">
                            ул. Тухачевского, 19А
                        </p>
                    </div>
                </li>
                <li class="footer-body__item footer-body__item--contacts footer-contacts">
                    <p class="footer-contacts__schedule">
                        Ежедневно 09:00&nbsp;— 21:00
                    </p>
                    <a href="tel:3832091718" class="footer-contacts__tel">
                        (383) 209-17-18
                    </a>
                    <a href="mailto:info@ok-linza.ru" class="footer-contacts__email">
                        info@ok-linza.ru
                    </a>
                    <ul class="footer-contacts__social social list-reset">
                        <li class="social__item">
                            <a href="#" target="_blank" class="social__link social__link--vk icon-vk"
                                aria-label="Мы в VK">
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" target="_blank" class="social__link social__link--fb icon-fb"
                                aria-label="Мы в Facebook">
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" target="_blank" class="social__link social__link--inst icon-inst"
                                aria-label="Мы в Instagram">
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" target="_blank" class="social__link social__link--wsapp icon-whatsapp-fill"
                                aria-label="Мы в WhatsApp">
                            </a>
                        </li>
                        <li class="social__item">
                            <a href="#" target="_blank" class="social__link social__link--tg icon-telegram-fill"
                                aria-label="Мы в Telegram">
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer__bottom footer-bottom">
        <div class="container footer-bottom__inner">
            <p class="footer-bottom__copy">
                © 2021 "Доктор Линз"
            </p>
            <a href="#" class="footer-bottom__rules">
                Политики конфиденциальности
            </a>
        </div>
    </div>
</footer>