<header class="header">
    <div class="header__top header-top">
        <div class="header-top__inner container">
            <div class="header-top__left">
                <div class="header-top__address header-address" data-da=".header-bottom__inner,768,last">
                    <button type="submit" class="btn btn-reset header-address__btn icon-triagle-arrow-down">
                        4 Клиники
                    </button>
                    <ul class="header-address__list list-reset">
                        <li class="header-address__item header-address-item">
                            <a href="#" class="header-address-item__wrapper">
                                <svg>
                                    <use xlink:href="img/sprite.svg#geolocation"></use>
                                </svg>
                                <h4 class="header-address-item__title">
                                    Новосибирск, ул. Сакко и Ванцетти, д. 77
                                </h4>
                                <p class="header-address-item__descr">
                                    Ежедневно 9:00 - 20:00
                                </p>
                            </a>
                        </li>
                        <li class="header-address__item header-address-item">
                            <a href="#" class="header-address-item__wrapper">
                                <svg>
                                    <use xlink:href="img/sprite.svg#geolocation"></use>
                                </svg>
                                <h4 class="header-address-item__title">
                                    Новосибирск, ул. Крылова, д. 63
                                </h4>
                                <p class="header-address-item__descr">
                                    Пн-Пт 9:00 - 21:00, Сб-Вс 9:00 - 20:00
                                </p>
                            </a>
                        </li>
                        <li class="header-address__item header-address-item">
                            <a href="#" class="header-address-item__wrapper">
                                <svg>
                                    <use xlink:href="img/sprite.svg#geolocation"></use>
                                </svg>
                                <h4 class="header-address-item__title">
                                    Новосибирск, ул. Степная, д. 6
                                </h4>
                                <p class="header-address-item__descr">
                                    Ежедневно 9:00 - 20:00
                                </p>
                            </a>
                        </li>
                        <li class="header-address__item header-address-item">
                            <a href="#" class="header-address-item__wrapper">
                                <svg>
                                    <use xlink:href="img/sprite.svg#geolocation"></use>
                                </svg>
                                <h4 class="header-address-item__title">
                                    Кемерово, ул. Тухачевского, 19А
                                </h4>
                                <p class="header-address-item__descr">
                                    Вс-Пн выходной, Вт-Сб 10 - 18
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="header-top__right">
                <div class="header-top__search search" data-da=".header-bottom__inner,768,last">
                    <button type="submit" class="btn btn-reset icon-search search__btn">Поиск</button>
                    <form action="#" class="search__form search-form">
                        <input type="search" class="input-reset search-form__input" placeholder="Поиск">
                        <button class="btn btn-reset search-form__btn icon-search ">Искать</button>
                    </form>
                </div>
                <button type="submit"
                    class="btn btn-reset btn--primary header-top__cart icon-cart" data-da=".nav-mobile-container__top,768,first">Интернет-магазин</button>
            </div>
        </div>
    </div>
    <div class="header__body header-body">
        <div class="header-body__inner container">
            <a href="#" class="header-body__logo logo">
                <img src="img/logo.png" class="logo__img" alt="Доктор Линз">
            </a>
            <button type="submit" class="btn btn-reset btn--secondary header-body__btn" data-da=".nav-mobile-container__top,768,last">Записаться онлайн</button>
            <div class="header-body__schedule" data-da=".nav-mobile-container__bottom,1050,first">
                Ежедневно 09:00 – 21:00
            </div>
            <div class="header-body__back-call back-call">
                <a href="tel:3832091718" class="back-call__tel">
                    (383) 209-17-18
                </a>
                <button class="back-call__btn btn btn-reset" data-graph-path="back-call">Обратный звонок</button>
                <ul class="back-call__social social list-reset"  data-da=".nav-mobile-container__bottom,1050,last">
                    <li class="social__item">
                        <a href="#" target="_blank" class="social__link social__link--wsapp icon-whatsapp"
                            aria-label="Мы в WhatsApp">
                        </a>
                    </li>
                    <li class="social__item">
                        <a href="#" target="_blank" class="social__link social__link--tg icon-telegram"
                            aria-label="Мы в Telegram">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header__bottom header-bottom">
        <div class="header-bottom__inner container">
            <nav class="header-bottom__nav nav" data-menu>
                <ul class="nav__list list-reset">
                    <li class="nav__item" data-menu-item><a href="#" class="nav__link">О клинике</a></li>
                    <li class="nav__item nav__dropdown nav-dropdown" data-dropdown>
                        <button
                            class="btn btn-reset nav-dropdown__btn nav-dropdown__btn--arrow icon-triagle-arrow-down" data-dropdown-button>Услуги</button>
                        <div class="nav-dropdown__box" data-dropdown-box>
                            <button class="btn btn-reset nav-dropdown__back icon-triagle-arrow-down" data-dropdown-back>
                                Услуги
                            </button>
                            <ul class="nav-dropdown__column list-reset">
                                <li class="nav-dropdown__item" data-menu-item>
                                    <a href="#" class="nav-dropdown__link">
                                        Ночные линзы
                                    </a>
                                </li>
                                <li class="nav-dropdown__item" data-menu-item>
                                    <a href="#" class="nav-dropdown__link">
                                        Диагностика зрения
                                    </a>
                                </li>
                                <li class="nav-dropdown__item" data-menu-item>
                                    <a href="#" class="nav-dropdown__link">
                                        Аппаратное лечение
                                    </a>
                                </li>
                                <li class="nav-dropdown__item" data-menu-item>
                                    <a href="#" class="nav-dropdown__link">
                                        Доставка
                                    </a>
                                </li>
                                <li class="nav-dropdown__item" data-menu-item>
                                    <a href="#" class="nav-dropdown__link">
                                        Офтальмолог
                                    </a>
                                </li>
                                <li class="nav-dropdown__item" data-menu-item>
                                    <a href="#" class="nav-dropdown__link">
                                        Детский офтальмолог
                                    </a>
                                </li>
                                <li class="nav-dropdown__item" data-menu-item>
                                    <a href="#" class="nav-dropdown__link">
                                        Коррекция зрения
                                    </a>
                                </li>
                                <li class="nav-dropdown__item" data-menu-item>
                                    <a href="#" class="nav-dropdown__link">
                                        Лечение конъюнктивита
                                    </a>
                                </li>
                                <li class="nav-dropdown__item" data-menu-item>
                                    <a href="#" class="nav-dropdown__link">
                                        Подбор линз
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav-dropdown__column list-reset">
                                <li class="nav-dropdown__item" data-menu-item>
                                    <a href="#" class="nav-dropdown__link">
                                        Проверить зрение ребенку
                                    </a>
                                </li>
                                <li class="nav-dropdown__item" data-menu-item>
                                    <a href="#" class="nav-dropdown__link">
                                        Синдром сухого глаза лечение
                                    </a>
                                </li>
                                <li class="nav-dropdown__item" data-menu-item>
                                    <a href="#" class="nav-dropdown__link">
                                        Халязион лечение
                                    </a>
                                </li>
                                <li class="nav-dropdown__item" data-menu-item>
                                    <a href="#" class="nav-dropdown__link">
                                        Компьютерная диагностика зрения
                                    </a>
                                </li>
                                <li class="nav-dropdown__item" data-menu-item>
                                    <a href="#" class="nav-dropdown__link">
                                        Лечение конъюнктивита у ребенка
                                    </a>
                                </li>
                                <li class="nav-dropdown__item" data-menu-item>
                                    <a href="#" class="nav-dropdown__link">
                                        Блефарит лечение
                                    </a>
                                </li>
                                <li class="nav-dropdown__item" data-menu-item>
                                    <a href="#" class="nav-dropdown__link">
                                        Астигматизм лечение у взрослых
                                    </a>
                                </li>
                                <li class="nav-dropdown__item" data-menu-item>
                                    <a href="#" class="nav-dropdown__link">
                                        Аппаратное лечение зрения у детей
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav__item" data-menu-item><a href="#" class="nav__link">Ночные линзы</a></li>
                    <li class="nav__item nav__dropdown nav-dropdown" data-dropdown>
                        <button
                            class="btn btn-reset nav-dropdown__btn nav-dropdown__btn--arrow icon-triagle-arrow-down" data-dropdown-button>Врачи</button>
                        <div class="nav-dropdown__box" data-dropdown-box>
                            <button class="btn btn-reset nav-dropdown__back icon-triagle-arrow-down" data-dropdown-back>
                                Врачи
                            </button>
                            <ul class="nav-dropdown__column list-reset">
                                <li class="nav-dropdown__item" data-menu-item>
                                    <a href="#" class="nav-dropdown__link">
                                        Игорь Николаевич
                                    </a>
                                </li>
                                <li class="nav-dropdown__item" data-menu-item>
                                    <a href="#" class="nav-dropdown__link">
                                        Диагностика зрения
                                    </a>
                                </li>
                                <li class="nav-dropdown__item" data-menu-item>
                                    <a href="#" class="nav-dropdown__link">
                                        Аппаратное лечение
                                    </a>
                                </li>
                                <li class="nav-dropdown__item" data-menu-item>
                                    <a href="#" class="nav-dropdown__link">
                                        Доставка
                                    </a>
                                </li>
                                <li class="nav-dropdown__item" data-menu-item>
                                    <a href="#" class="nav-dropdown__link">
                                        Офтальмолог
                                    </a>
                                </li>
                                <li class="nav-dropdown__item" data-menu-item>
                                    <a href="#" class="nav-dropdown__link">
                                        Детский офтальмолог
                                    </a>
                                </li>
                                <li class="nav-dropdown__item" data-menu-item>
                                    <a href="#" class="nav-dropdown__link">
                                        Коррекция зрения
                                    </a>
                                </li>
                                <li class="nav-dropdown__item" data-menu-item>
                                    <a href="#" class="nav-dropdown__link">
                                        Лечение конъюнктивита
                                    </a>
                                </li>
                                <li class="nav-dropdown__item" data-menu-item>
                                    <a href="#" class="nav-dropdown__link">
                                        Подбор линз
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav-dropdown__column list-reset">
                                <li class="nav-dropdown__item" data-menu-item>
                                    <a href="#" class="nav-dropdown__link">
                                        Проверить зрение ребенку
                                    </a>
                                </li>
                                <li class="nav-dropdown__item" data-menu-item>
                                    <a href="#" class="nav-dropdown__link">
                                        Синдром сухого глаза лечение
                                    </a>
                                </li>
                                <li class="nav-dropdown__item" data-menu-item>
                                    <a href="#" class="nav-dropdown__link">
                                        Халязион лечение
                                    </a>
                                </li>
                                <li class="nav-dropdown__item" data-menu-item>
                                    <a href="#" class="nav-dropdown__link">
                                        Компьютерная диагностика зрения
                                    </a>
                                </li>
                                <li class="nav-dropdown__item" data-menu-item>
                                    <a href="#" class="nav-dropdown__link">
                                        Лечение конъюнктивита у ребенка
                                    </a>
                                </li>
                                <li class="nav-dropdown__item" data-menu-item>
                                    <a href="#" class="nav-dropdown__link">
                                        Блефарит лечение
                                    </a>
                                </li>
                                <li class="nav-dropdown__item" data-menu-item>
                                    <a href="#" class="nav-dropdown__link">
                                        Астигматизм лечение у взрослых
                                    </a>
                                </li>
                                <li class="nav-dropdown__item" data-menu-item>
                                    <a href="#" class="nav-dropdown__link">
                                        Аппаратное лечение зрения у детей
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav__item" data-menu-item><a href="#" class="nav__link">Цены</a></li>
                    <li class="nav__item" data-menu-item><a href="#" class="nav__link">Отзывы</a></li>
                    <li class="nav__item" data-menu-item><a href="#" class="nav__link">Вопросы и ответы</a></li>
                    <li class="nav__item" data-menu-item><a href="#" class="nav__link">Контакты</a></li>
                </ul>
                <div class="nav__mobile-container nav-mobile-container">
                    <div class="nav-mobile-container__top"></div>
                    <div class="nav-mobile-container__bottom"></div>
                </div>
            </nav>
            <button class="burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
                <div class="burger__box">
                    <span class="burger__line"></span>
                </div>
                <span>Меню</span>
            </button>
        </div>
    </div>
</header>
