<header class="header">
    <div class="header__top header-top">
        <div class="header-top__inner container">
            <div class="header-top__left">
                <div class="header-top__address header-address">
                    <button type="submit" class="btn btn-reset header-address__btn icon-triagle-arrow-down">
                        4 Клиники
                    </button>
                    <ul class="header-address__list list-reset">
                        <li class="header-address__item header-address-item">
                            <a href="#" class="header-address-item__wrapper">
                                <svg>
                                    <use xlink:href="img/sprite.svg#geolocation"></use>
                                </svg>
                                <h4 class="header-address-item__title">
                                    Новосибирск, ул. Сакко и Ванцетти, д. 77
                                </h4>
                                <p class="header-address-item__descr">
                                    Ежедневно 9:00 - 20:00
                                </p>
                            </a>
                        </li>
                        <li class="header-address__item header-address-item">
                            <a href="#" class="header-address-item__wrapper">
                                <svg>
                                    <use xlink:href="img/sprite.svg#geolocation"></use>
                                </svg>
                                <h4 class="header-address-item__title">
                                    Новосибирск, ул. Крылова, д. 63
                                </h4>
                                <p class="header-address-item__descr">
                                    Пн-Пт 9:00 - 21:00, Сб-Вс 9:00 - 20:00
                                </p>
                            </a>
                        </li>
                        <li class="header-address__item header-address-item">
                            <a href="#" class="header-address-item__wrapper">
                                <svg>
                                    <use xlink:href="img/sprite.svg#geolocation"></use>
                                </svg>
                                <h4 class="header-address-item__title">
                                    Новосибирск, ул. Степная, д. 6
                                </h4>
                                <p class="header-address-item__descr">
                                    Ежедневно 9:00 - 20:00
                                </p>
                            </a>
                        </li>
                        <li class="header-address__item header-address-item">
                            <a href="#" class="header-address-item__wrapper">
                                <svg>
                                    <use xlink:href="img/sprite.svg#geolocation"></use>
                                </svg>
                                <h4 class="header-address-item__title">
                                    Кемерово, ул. Тухачевского, 19А
                                </h4>
                                <p class="header-address-item__descr">
                                    Вс-Пн выходной, Вт-Сб 10 - 18
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="header-top__right">
                <div class="header-top__search search">
                    <button type="submit" class="btn btn-reset icon-search search__btn">Поиск</button>
                    <form action="#" class="search__form search-form">
                        <input type="search" class="input-reset search-form__input" placeholder="Поиск">
                        <button class="btn btn-reset search-form__btn icon-search ">Искать</button>
                    </form>
                </div>
                <button type="submit"
                    class="btn btn-reset btn--primary header-top__cart icon-cart">Интернет-магазин</button>
            </div>
        </div>
    </div>
    <div class="header__body header-body">

    </div>
    <div class="header__bottom header-bottom">

    </div>
</header>
