<section class="hero">
    <div class="container hero__inner">
        <div class="swiper hero__slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide hero__slide hero-slide hero__slide--1" style="background-image: url(img/hero/hero-slider-1.png);">
                    <div class="hero-slide__inner">
                        <div class="hero-slide__left">
                            <h2 class="hero-slide__title">
                                Центр зрения
                                <br> <span>ДОКТОР ЛИНЗ</span>
                            </h2>
                            <p class="hero-slide__descr">
                                Большой опыт упешной и безоперационной коррекции зрения. Наши клиенты остаются довольны
                                клиникой на протяжение многих лет - это говорит о том, мы ориентированы на долгосрочное
                                сотрудничество.
                            </p>
                            <button type="submit"
                                class="btn btn-reset btn--primary btn--primary-icon hero-slide__btn icon-arrow-right" data-da=".hero-slide__inner,768,heroLast">Подробнее</button>
                        </div>
                        <ul class="hero-slide__list list-reset">
                            <li class="hero-slide__item">
                                <span class="hero-slide__item--title">
                                    15 лет
                                </span>
                                <br>успешной работы
                            </li>
                            <li class="hero-slide__item">
                                <span class="hero-slide__item--subtitle">
                                    Более
                                </span>
                                <br>
                                <span class="hero-slide__item--title">
                                    15 лет
                                </span>
                                <br>довольных пациентов
                            </li>
                            <li class="hero-slide__item">
                                <span class="hero-slide__item--title">
                                    4 клиники
                                </span>
                                <br>в Новосибирске и Кемерово
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="swiper-slide hero__slide hero-slide hero__slide--2" style="background-image: url(img/hero/hero-slider-2.png);">
                    <div class="hero-slide__inner">
                        <div class="hero-slide__left">
                            <h2 class="hero-slide__title">
                                <span>Ночные линзы</span> <br>
                                восстанавливают зрение пока вы спите
                            </h2>
                            <p class="hero-slide__descr">
                                Специальные контактные линзы временно изменяют форму роговицы во сне и весь последующий
                                день вы прекрасно видите без очков и без линз
                            </p>
                            <button type="submit"
                                class="btn btn-reset btn--primary btn--primary-icon hero-slide__btn icon-arrow-right" data-da=".hero-slide__inner,768,heroLast">Подробнее</button>
                        </div>
                        <ul class="hero-slide__list list-reset">
                            <li class="hero-slide__item">
                                <span class="hero-slide__item--title">
                                    7-9 часов
                                </span>
                                <br>сна в линзах
                            </li>
                            <li class="hero-slide__item">
                                <span class="hero-slide__item--title">
                                    100%
                                </span>
                                <br>зрение в течение дня
                            </li>
                            <li class="hero-slide__item">
                                <span class="hero-slide__item--title">
                                    24 часа
                                </span>
                                <br>сохраняется чёткость
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="swiper-slide hero__slide hero-slide hero__slide--3" style="background-image: url(img/hero/hero-slider-3.png);">
                    <div class="hero-slide__inner">
                        <div class="hero-slide__left">
                            <h2 class="hero-slide__title">
                                <span>ДИАГНОСТИКА ЗРЕНИЯ</span>
                            </h2>
                            <p class="hero-slide__descr">
                                Компьютерная диагностика зрения у детей (0+) и взрослых: профессионально, быстро, безболезненно, информативно.
                            </p>
                            <button type="submit"
                            class="btn btn-reset btn--primary btn--primary-icon hero-slide__btn icon-arrow-right" data-da=".hero-slide__inner,768,heroLast">Подробнее</button>
                        </div>
                        <ul class="hero-slide__list list-reset">
                            <li class="hero-slide__item">
                                <span class="hero-slide__item--title">
                                    N
                                </span>
                                <br>диагностик в месяц
                            </li>
                            <li class="hero-slide__item">
                                <span class="hero-slide__item--title">
                                    1 час
                                </span>
                                <br>максимальное время диагностики
                            </li>
                            <li class="hero-slide__item">
                                <span class="hero-slide__item--subtitle">
                                  от
                                </span>
                                <span class="hero-slide__item--title">
                                    2 500₽
                                </span>
                                <br>стоимость диагностики
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="swiper-slide hero__slide hero-slide hero__slide--4" style="background-image: url(img/hero/hero-slider-4.png);">
                    <div class="hero-slide__inner">
                        <div class="hero-slide__left">
                            <h2 class="hero-slide__title">
                                <span>АППАРАТНОЕ ЛЕЧЕНИЕ</span>
                            </h2>
                            <p class="hero-slide__descr">
                                Лечение зрения детей и взрослых на современных компьютерных аппаратах-тренажерах
                            </p>
                            <button type="submit"
                                class="btn btn-reset btn--primary btn--primary-icon hero-slide__btn icon-arrow-right" data-da=".hero-slide__inner,768,heroLast">Подробнее</button>
                        </div>
                        <ul class="hero-slide__list list-reset">
                            <li class="hero-slide__item">
                                <span class="hero-slide__item--title">
                                    4 500₽
                                </span>
                                <br>за 5 сеансов
                            </li>
                            <li class="hero-slide__item">
                                <span class="hero-slide__item--title">
                                    9 000₽
                                </span>
                                <br>за 10 сеансов
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="hero__pagination"></div>
        </div>
    </div>
    <div class="hero__navigation hero-nav">
        <div class="hero-nav-prev"></div>
        <div class="hero-nav-next"></div>
    </div>
</section>