<section class="license">
    <div class="container license__inner">
        <div class="license__content">
            <div class="license__top">
                <h3 class="license__title">
                    Лицензия
                </h3>
                <h4 class="license__subtitle">
                    Деятельность нашей клиники регулируется ФЗ № 0000
                </h4>
            </div>
            <ul class="license__list license-list list-reset">
                <li class="license-list__item">
                    <svg class="license-list__icon">
                        <use xlink:href="img/sprite.svg#checked"></use>
                    </svg>
                    <p class="license-list__descr">
                        Наши врачи имеют медицинское образование и подтверждённую квалификацию
                    </p>
                </li>
                <li class="license-list__item">
                    <svg class="license-list__icon">
                        <use xlink:href="img/sprite.svg#checked"></use>
                    </svg>
                    <p class="license-list__descr">
                        Всё оборудование зарегистрировано и разрешено в России
                    </p>
                </li>
                <li class="license-list__item">
                    <svg class="license-list__icon">
                        <use xlink:href="img/sprite.svg#checked"></use>
                    </svg>
                    <p class="license-list__descr">
                        Соблюдены все СанПиН
                    </p>
                </li>
            </ul>
        </div>
        <div class="license__gallery license-gallery">
            <a href="img/licence.jpg" class="license-gallery__link">
                <img src="img/licence.jpg" class="license-gallery__img" alt="Лицензия">
            </a>
        </div>
    </div>
</section>
