<section class="night-lenses">
    <div class="container">
        <h2 class="night-lenses__title title-h2">
            Ночные линзы
        </h2>
        <p class="night-lenses__subtitle">
            инновационный метод коррекции зрения
        </p>
        <div class="night-lenses__inner">
            <div class="night-lenses__left">
                <div class="night-lenses__item night-lenses-item night-lenses-item--1">
                    <div class="night-lenses-item__info">
                        <h4 class="night-lenses-item__title">
                            Благодаря Ночным линзам, улучшается острота зрения.
                        </h4>
                        <p class="night-lenses-item__descr">
                            Вы отлично видите в течении всего дня
                            и не испытываете дискофорт от ношения очков или контактных линз!
                        </p>
                    </div>
                    <button type="submit" class="btn btn-reset icon-plus night-lenses-item__btn">+</button>
                </div>
                <div class="night-lenses__item night-lenses-item night-lenses-item--2">
                    <div class="night-lenses-item__info">
                        <h4 class="night-lenses-item__title">
                            Благодаря Ночным линзам, улучшается острота зрения.
                        </h4>
                        <p class="night-lenses-item__descr">
                            Вы отлично видите в течении всего дня
                            и не испытываете дискофорт от ношения очков или контактных линз!
                        </p>
                    </div>
                    <button type="submit" class="btn btn-reset icon-plus night-lenses-item__btn">+</button>
                </div>
            </div>
            <div class="night-lenses__middle">
                <picture>
                  <source srcset="img/night-lenses.avif" type="image/avif">
                  <source srcset="img/night-lenses.webp" type="image/webp">
                  <img loading="lazy" src="img/night-lenses.png" width="473" height="584" alt="Мальчик">
                </picture>
            </div>
            <div class="night-lenses__right">
                <div class="night-lenses__item night-lenses-item night-lenses-item--3">
                    <div class="night-lenses-item__info">
                        <h4 class="night-lenses-item__title">
                            Благодаря Ночным линзам, улучшается острота зрения.
                        </h4>
                        <p class="night-lenses-item__descr">
                            Вы отлично видите в течении всего дня
                            и не испытываете дискофорт от ношения очков или контактных линз!
                        </p>
                    </div>
                    <button type="submit" class="btn btn-reset icon-plus night-lenses-item__btn">+</button>
                </div>
                <div class="night-lenses__item night-lenses-item night-lenses-item--4">
                    <div class="night-lenses-item__info">
                        <h4 class="night-lenses-item__title">
                            Благодаря Ночным линзам, улучшается острота зрения.
                        </h4>
                        <p class="night-lenses-item__descr">
                            Вы отлично видите в течении всего дня
                            и не испытываете дискофорт от ношения очков или контактных линз!
                        </p>
                    </div>
                    <button type="submit" class="btn btn-reset icon-plus night-lenses-item__btn">+</button>
                </div>
            </div>
        </div>
        <div class="night-lenses__bottom night-lenses-bottom">
            <h3 class="night-lenses-bottom__title">
                Верните четкость своего зрения! 
            </h3>
            <button type="submit" class="btn btn-reset btn--secondary night-lenses-bottom__btn icon-arrow-right">
                Подробнее об услуге
            </button>
        </div>
    </div>
</section>