<section class="our-rating">
    <div class="container">
        <h2 class="our-rating__title">
            Мы в рейтингах
        </h2>
        <div class="our-rating__inner">
            <div class="swiper our-rating__wrapper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide our-rating__item">
                        <div class="our-rating-item__circle progress-circle" data-progress="number"
                            data-progress-full="5.0" data-progress-value="4.5">
                            <svg viewBox="-10 -10 320 320">
                                <circle class="progress-circle__progress--bg" r="138" cx="138" cy="138" fill="none"
                                    stroke-width="40">
                                </circle>
                                <circle class="progress-circle__progress" r="138" cx="138" cy="138" fill="none"
                                    stroke-width="40">
                                </circle>
                            </svg>
                            <div class="our-rating-item__value progress-circle__value"></div>
                        </div>
                        <div class="our-rating-item__info">
                            <img loading="lazy" src="img/yandex.svg" class="image" width="80" height="23" alt="Yandex">
                            <a href="#">Смотреть отзывы</a>
                        </div>
                    </div>
                    <div class="swiper-slide our-rating__item">
                        <div class="our-rating-item__circle progress-circle" data-progress="number"
                            data-progress-full="5.0" data-progress-value="5.0">
                            <svg viewBox="-10 -10 320 320">
                                <circle class="progress-circle__progress--bg" r="138" cx="138" cy="138" fill="none"
                                    stroke-width="40">
                                </circle>
                                <circle class="progress-circle__progress" r="138" cx="138" cy="138" fill="none"
                                    stroke-width="40">
                                </circle>
                            </svg>
                            <div class="our-rating-item__value progress-circle__value"></div>
                        </div>
                        <div class="our-rating-item__info">
                            <img loading="lazy" src="img/gis.svg" class="image" width="59" height="25" alt="GIS">
                            <a href="#">Смотреть отзывы</a>
                        </div>
                    </div>
                    <div class="swiper-slide our-rating__item">
                        <div class="our-rating-item__circle progress-circle" data-progress="percent"
                            data-progress-value="78">
                            <svg viewBox="-10 -10 320 320">
                                <circle class="progress-circle__progress--bg" r="138" cx="138" cy="138" fill="none"
                                    stroke-width="40">
                                </circle>
                                <circle class="progress-circle__progress" r="138" cx="138" cy="138" fill="none"
                                    stroke-width="40">
                                </circle>
                            </svg>
                            <div class="our-rating-item__value progress-circle__value"></div>
                        </div>
                        <div class="our-rating-item__info">
                            <img loading="lazy" src="img/prodoctorov.svg" class="image" width="100" height="9"
                                alt="ПроДокторов">
                            <a href="#">Смотреть отзывы</a>
                        </div>
                    </div>
                    <div class="swiper-slide our-rating__item">
                        <div class="our-rating-item__circle progress-circle" data-progress="number"
                            data-progress-full="5.0" data-progress-value="5.0">
                            <svg viewBox="-10 -10 320 320">
                                <circle class="progress-circle__progress--bg" r="138" cx="138" cy="138" fill="none"
                                    stroke-width="40">
                                </circle>
                                <circle class="progress-circle__progress" r="138" cx="138" cy="138" fill="none"
                                    stroke-width="40">
                                </circle>
                            </svg>
                            <div class="progress-circle__value"></div>
                        </div>
                        <div class="our-rating-item__info">
                            <img loading="lazy" src="img/flamp.svg" class="image" width="80" height="23" alt="Flamp">
                            <a href="#">Смотреть отзывы</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="our-rating__pagination about-photo-pagination"></div>
        </div>
    </div>
</section>
