<section class="our-doctors">
    <div class="container">
        <h2 class="our-doctors__title title-h2">
            Наши врачи
        </h2>
        <p class="our-doctors__subtitle">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare volutpat egestas habitant viverra felis, sed
            rhoncus ullamcorper penatibus.
        </p>
        <div class="our-doctors__inner">
            <div class="our-doctors__nav our-doctors-nav">
                <div class="our-doctors__navigation our-doctors__navigation--prev icon-arrow-right"></div>
                <div class="our-doctors__navigation our-doctors__navigation--next icon-arrow-right"></div>
                <div class="swiper our-doctors-nav__slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide doctors-nav-slide">
                            <div class="doctors-nav-slide__inner">
                                <picture>
                                    <source srcset="img/doctors/icon/doctors-1.avif" type="image/avif">
                                    <source srcset="img/doctors/icon/doctors-1.webp" type="image/webp">
                                    <img loading="lazy" src="img/doctors/icon/doctors-1.jpg"
                                        class="doctors-nav-slide__left" width="60" height="60"
                                        alt="Ламбина Татьяна Александровна">
                                </picture>
                                <div class="doctors-nav-slide__right">
                                    <h5 class="doctors-nav-slide__name">
                                        Ламбина Татьяна Александровна
                                    </h5>
                                    <p class="doctors-nav-slide__pos">
                                        Врач-офтальмолог
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide doctors-nav-slide">
                            <div class="doctors-nav-slide__inner">
                                <picture>
                                    <source srcset="img/doctors/icon/doctors-1.avif" type="image/avif">
                                    <source srcset="img/doctors/icon/doctors-1.webp" type="image/webp">
                                    <img loading="lazy" src="img/doctors/icon/doctors-1.jpg"
                                        class="doctors-nav-slide__left" width="60" height="60"
                                        alt="Ламбина Татьяна Александровна">
                                </picture>
                                <div class="doctors-nav-slide__right">
                                    <h5 class="doctors-nav-slide__name">
                                        Ламбина Татьяна Александровна
                                    </h5>
                                    <p class="doctors-nav-slide__pos">
                                        Врач-офтальмолог
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide doctors-nav-slide">
                            <div class="doctors-nav-slide__inner">
                                <picture>
                                    <source srcset="img/doctors/icon/doctors-1.avif" type="image/avif">
                                    <source srcset="img/doctors/icon/doctors-1.webp" type="image/webp">
                                    <img loading="lazy" src="img/doctors/icon/doctors-1.jpg"
                                        class="doctors-nav-slide__left" width="60" height="60"
                                        alt="Ламбина Татьяна Александровна">
                                </picture>
                                <div class="doctors-nav-slide__right">
                                    <h5 class="doctors-nav-slide__name">
                                        Ламбина Татьяна Александровна
                                    </h5>
                                    <p class="doctors-nav-slide__pos">
                                        Врач-офтальмолог
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide doctors-nav-slide">
                            <div class="doctors-nav-slide__inner">
                                <picture>
                                    <source srcset="img/doctors/icon/doctors-1.avif" type="image/avif">
                                    <source srcset="img/doctors/icon/doctors-1.webp" type="image/webp">
                                    <img loading="lazy" src="img/doctors/icon/doctors-1.jpg"
                                        class="doctors-nav-slide__left" width="60" height="60"
                                        alt="Ламбина Татьяна Александровна">
                                </picture>
                                <div class="doctors-nav-slide__right">
                                    <h5 class="doctors-nav-slide__name">
                                        Ламбина Татьяна Александровна
                                    </h5>
                                    <p class="doctors-nav-slide__pos">
                                        Врач-офтальмолог
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide doctors-nav-slide">
                            <div class="doctors-nav-slide__inner">
                                <picture>
                                    <source srcset="img/doctors/icon/doctors-1.avif" type="image/avif">
                                    <source srcset="img/doctors/icon/doctors-1.webp" type="image/webp">
                                    <img loading="lazy" src="img/doctors/icon/doctors-1.jpg"
                                        class="doctors-nav-slide__left" width="60" height="60"
                                        alt="Ламбина Татьяна Александровна">
                                </picture>
                                <div class="doctors-nav-slide__right">
                                    <h5 class="doctors-nav-slide__name">
                                        Ламбина Татьяна Александровна
                                    </h5>
                                    <p class="doctors-nav-slide__pos">
                                        Врач-офтальмолог
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide doctors-nav-slide">
                            <div class="doctors-nav-slide__inner">
                                <picture>
                                    <source srcset="img/doctors/icon/doctors-1.avif" type="image/avif">
                                    <source srcset="img/doctors/icon/doctors-1.webp" type="image/webp">
                                    <img loading="lazy" src="img/doctors/icon/doctors-1.jpg"
                                        class="doctors-nav-slide__left" width="60" height="60"
                                        alt="Ламбина Татьяна Александровна">
                                </picture>
                                <div class="doctors-nav-slide__right">
                                    <h5 class="doctors-nav-slide__name">
                                        Ламбина Татьяна Александровна
                                    </h5>
                                    <p class="doctors-nav-slide__pos">
                                        Врач-офтальмолог
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide doctors-nav-slide">
                            <div class="doctors-nav-slide__inner">
                                <picture>
                                    <source srcset="img/doctors/icon/doctors-1.avif" type="image/avif">
                                    <source srcset="img/doctors/icon/doctors-1.webp" type="image/webp">
                                    <img loading="lazy" src="img/doctors/icon/doctors-1.jpg"
                                        class="doctors-nav-slide__left" width="60" height="60"
                                        alt="Ламбина Татьяна Александровна">
                                </picture>
                                <div class="doctors-nav-slide__right">
                                    <h5 class="doctors-nav-slide__name">
                                        Ламбина Татьяна Александровна
                                    </h5>
                                    <p class="doctors-nav-slide__pos">
                                        Врач-офтальмолог
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide doctors-nav-slide">
                            <div class="doctors-nav-slide__inner">
                                <picture>
                                    <source srcset="img/doctors/icon/doctors-1.avif" type="image/avif">
                                    <source srcset="img/doctors/icon/doctors-1.webp" type="image/webp">
                                    <img loading="lazy" src="img/doctors/icon/doctors-1.jpg"
                                        class="doctors-nav-slide__left" width="60" height="60"
                                        alt="Ламбина Татьяна Александровна">
                                </picture>
                                <div class="doctors-nav-slide__right">
                                    <h5 class="doctors-nav-slide__name">
                                        Ламбина Татьяна Александровна
                                    </h5>
                                    <p class="doctors-nav-slide__pos">
                                        Врач-офтальмолог
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide doctors-nav-slide">
                            <div class="doctors-nav-slide__inner">
                                <picture>
                                    <source srcset="img/doctors/icon/doctors-1.avif" type="image/avif">
                                    <source srcset="img/doctors/icon/doctors-1.webp" type="image/webp">
                                    <img loading="lazy" src="img/doctors/icon/doctors-1.jpg"
                                        class="doctors-nav-slide__left" width="60" height="60"
                                        alt="Ламбина Татьяна Александровна">
                                </picture>
                                <div class="doctors-nav-slide__right">
                                    <h5 class="doctors-nav-slide__name">
                                        Ламбина Татьяна Александровна
                                    </h5>
                                    <p class="doctors-nav-slide__pos">
                                        Врач-офтальмолог
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide doctors-nav-slide">
                            <div class="doctors-nav-slide__inner">
                                <picture>
                                    <source srcset="img/doctors/icon/doctors-1.avif" type="image/avif">
                                    <source srcset="img/doctors/icon/doctors-1.webp" type="image/webp">
                                    <img loading="lazy" src="img/doctors/icon/doctors-1.jpg"
                                        class="doctors-nav-slide__left" width="60" height="60"
                                        alt="Ламбина Татьяна Александровна">
                                </picture>
                                <div class="doctors-nav-slide__right">
                                    <h5 class="doctors-nav-slide__name">
                                        Ламбина Татьяна Александровна
                                    </h5>
                                    <p class="doctors-nav-slide__pos">
                                        Врач-офтальмолог
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="our-doctors__body our-doctors-body">
                <div class="our-doctors__pagination"></div>
                <div class="swiper our-doctors-body__slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide doctors-body-slide">
                            <div class="doctors-body-slide__inner">
                                <div class="doctors-body-slide__img">
                                    <picture>
                                        <source srcset="img/doctors/photo/photo-1.avif" type="image/avif">
                                        <source srcset="img/doctors/photo/photo-1.webp" type="image/webp">
                                        <img loading="lazy" src="img/doctors/photo/photo-1.jpg" width="200" height="300"
                                            alt="Нагорский Петр Гарриевич">
                                    </picture>
                                </div>
                                <div class="doctors-body-slide__content">
                                    <h5 class="doctors-body-slide__name">
                                        Нагорский Петр Гарриевич
                                    </h5>
                                    <p class="doctors-body-slide__pos">
                                        Главный врач, офтальмоло
                                    </p>
                                    <p class="doctors-body-slide__standing">
                                        Стаж <span>N лет</span>
                                    </p>
                                    <div class="doctors-body-slide__reviews">
                                        <div class="rating doctors-body-slide__rating">
                                            <div class="rating__body">
                                                <div class="rating__active"></div>
                                                <div class="rating__items">
                                                    <input type="radio" class="rating__item" value="1" name="rating">
                                                    <input type="radio" class="rating__item" value="2" name="rating">
                                                    <input type="radio" class="rating__item" value="3" name="rating">
                                                    <input type="radio" class="rating__item" value="4" name="rating">
                                                    <input type="radio" class="rating__item" value="5" name="rating">
                                                </div>
                                            </div>
                                            <div class="rating__value">4</div>
                                        </div>
                                        <button type="submit" class="btn btn-reset doctors-body-slide__comments">
                                            Отзывы <span>(15)</span>
                                        </button>
                                    </div>
                                    <div class="doctors-body-slide__video">
                                        <span>Видео-визитка</span>
                                        <span class="icon-play">Включить видео</span>
                                    </div>
                                    <p class="doctors-body-slide__descr">
                                        Врач-офтальмолог высшей категории, кандидат медицинских наук, главный врач,
                                        основатель центра зрения «Доктор Линз» (Новосибирск)
                                        и «Центра зрения доктора Нагорского» (Кемерово)
                                    </p>
                                    <button type="submit"
                                        class="btn btn-reset btn--secondary doctors-body-slide__btn icon-arrow-right">
                                        Подробнее
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide doctors-body-slide">
                            <div class="doctors-body-slide__inner">
                                <div class="doctors-body-slide__img">
                                    <picture>
                                        <source srcset="img/doctors/photo/photo-1.avif" type="image/avif">
                                        <source srcset="img/doctors/photo/photo-1.webp" type="image/webp">
                                        <img loading="lazy" src="img/doctors/photo/photo-1.jpg" width="200" height="300"
                                            alt="Нагорский Петр Гарриевич">
                                    </picture>
                                </div>
                                <div class="doctors-body-slide__content">
                                    <h5 class="doctors-body-slide__name">
                                        Нагорский Петр Гарриевич
                                    </h5>
                                    <p class="doctors-body-slide__pos">
                                        Главный врач, офтальмоло
                                    </p>
                                    <p class="doctors-body-slide__standing">
                                        Стаж <span>N лет</span>
                                    </p>
                                    <div class="doctors-body-slide__reviews">
                                        <div class="rating doctors-body-slide__rating">
                                            <div class="rating__body">
                                                <div class="rating__active"></div>
                                                <div class="rating__items">
                                                    <input type="radio" class="rating__item" value="1" name="rating">
                                                    <input type="radio" class="rating__item" value="2" name="rating">
                                                    <input type="radio" class="rating__item" value="3" name="rating">
                                                    <input type="radio" class="rating__item" value="4" name="rating">
                                                    <input type="radio" class="rating__item" value="5" name="rating">
                                                </div>
                                            </div>
                                            <div class="rating__value">4</div>
                                        </div>
                                        <button type="submit" class="btn btn-reset doctors-body-slide__comments">
                                            Отзывы <span>(15)</span>
                                        </button>
                                    </div>
                                    <div class="doctors-body-slide__video">
                                        <span>Видео-визитка</span>
                                        <span class="icon-play">Включить видео</span>
                                    </div>
                                    <p class="doctors-body-slide__descr">
                                        Врач-офтальмолог высшей категории, кандидат медицинских наук, главный врач,
                                        основатель центра зрения «Доктор Линз» (Новосибирск)
                                        и «Центра зрения доктора Нагорского» (Кемерово)
                                    </p>
                                    <button type="submit"
                                        class="btn btn-reset btn--secondary doctors-body-slide__btn icon-arrow-right">
                                        Подробнее
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide doctors-body-slide">
                            <div class="doctors-body-slide__inner">
                                <div class="doctors-body-slide__img">
                                    <picture>
                                        <source srcset="img/doctors/photo/photo-1.avif" type="image/avif">
                                        <source srcset="img/doctors/photo/photo-1.webp" type="image/webp">
                                        <img loading="lazy" src="img/doctors/photo/photo-1.jpg" width="200" height="300"
                                            alt="Нагорский Петр Гарриевич">
                                    </picture>
                                </div>
                                <div class="doctors-body-slide__content">
                                    <h5 class="doctors-body-slide__name">
                                        Нагорский Петр Гарриевич
                                    </h5>
                                    <p class="doctors-body-slide__pos">
                                        Главный врач, офтальмоло
                                    </p>
                                    <p class="doctors-body-slide__standing">
                                        Стаж <span>N лет</span>
                                    </p>
                                    <div class="doctors-body-slide__reviews">
                                        <div class="rating doctors-body-slide__rating">
                                            <div class="rating__body">
                                                <div class="rating__active"></div>
                                                <div class="rating__items">
                                                    <input type="radio" class="rating__item" value="1" name="rating">
                                                    <input type="radio" class="rating__item" value="2" name="rating">
                                                    <input type="radio" class="rating__item" value="3" name="rating">
                                                    <input type="radio" class="rating__item" value="4" name="rating">
                                                    <input type="radio" class="rating__item" value="5" name="rating">
                                                </div>
                                            </div>
                                            <div class="rating__value">4</div>
                                        </div>
                                        <button type="submit" class="btn btn-reset doctors-body-slide__comments">
                                            Отзывы <span>(15)</span>
                                        </button>
                                    </div>
                                    <div class="doctors-body-slide__video">
                                        <span>Видео-визитка</span>
                                        <span class="icon-play">Включить видео</span>
                                    </div>
                                    <p class="doctors-body-slide__descr">
                                        Врач-офтальмолог высшей категории, кандидат медицинских наук, главный врач,
                                        основатель центра зрения «Доктор Линз» (Новосибирск)
                                        и «Центра зрения доктора Нагорского» (Кемерово)
                                    </p>
                                    <button type="submit"
                                        class="btn btn-reset btn--secondary doctors-body-slide__btn icon-arrow-right">
                                        Подробнее
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide doctors-body-slide">
                            <div class="doctors-body-slide__inner">
                                <div class="doctors-body-slide__img">
                                    <picture>
                                        <source srcset="img/doctors/photo/photo-1.avif" type="image/avif">
                                        <source srcset="img/doctors/photo/photo-1.webp" type="image/webp">
                                        <img loading="lazy" src="img/doctors/photo/photo-1.jpg" width="200" height="300"
                                            alt="Нагорский Петр Гарриевич">
                                    </picture>
                                </div>
                                <div class="doctors-body-slide__content">
                                    <h5 class="doctors-body-slide__name">
                                        Нагорский Петр Гарриевич
                                    </h5>
                                    <p class="doctors-body-slide__pos">
                                        Главный врач, офтальмоло
                                    </p>
                                    <p class="doctors-body-slide__standing">
                                        Стаж <span>N лет</span>
                                    </p>
                                    <div class="doctors-body-slide__reviews">
                                        <div class="rating doctors-body-slide__rating">
                                            <div class="rating__body">
                                                <div class="rating__active"></div>
                                                <div class="rating__items">
                                                    <input type="radio" class="rating__item" value="1" name="rating">
                                                    <input type="radio" class="rating__item" value="2" name="rating">
                                                    <input type="radio" class="rating__item" value="3" name="rating">
                                                    <input type="radio" class="rating__item" value="4" name="rating">
                                                    <input type="radio" class="rating__item" value="5" name="rating">
                                                </div>
                                            </div>
                                            <div class="rating__value">4</div>
                                        </div>
                                        <button type="submit" class="btn btn-reset doctors-body-slide__comments">
                                            Отзывы <span>(15)</span>
                                        </button>
                                    </div>
                                    <div class="doctors-body-slide__video">
                                        <span>Видео-визитка</span>
                                        <span class="icon-play">Включить видео</span>
                                    </div>
                                    <p class="doctors-body-slide__descr">
                                        Врач-офтальмолог высшей категории, кандидат медицинских наук, главный врач,
                                        основатель центра зрения «Доктор Линз» (Новосибирск)
                                        и «Центра зрения доктора Нагорского» (Кемерово)
                                    </p>
                                    <button type="submit"
                                        class="btn btn-reset btn--secondary doctors-body-slide__btn icon-arrow-right">
                                        Подробнее
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide doctors-body-slide">
                            <div class="doctors-body-slide__inner">
                                <div class="doctors-body-slide__img">
                                    <picture>
                                        <source srcset="img/doctors/photo/photo-1.avif" type="image/avif">
                                        <source srcset="img/doctors/photo/photo-1.webp" type="image/webp">
                                        <img loading="lazy" src="img/doctors/photo/photo-1.jpg" width="200" height="300"
                                            alt="Нагорский Петр Гарриевич">
                                    </picture>
                                </div>
                                <div class="doctors-body-slide__content">
                                    <h5 class="doctors-body-slide__name">
                                        Нагорский Петр Гарриевич
                                    </h5>
                                    <p class="doctors-body-slide__pos">
                                        Главный врач, офтальмоло
                                    </p>
                                    <p class="doctors-body-slide__standing">
                                        Стаж <span>N лет</span>
                                    </p>
                                    <div class="doctors-body-slide__reviews">
                                        <div class="rating doctors-body-slide__rating">
                                            <div class="rating__body">
                                                <div class="rating__active"></div>
                                                <div class="rating__items">
                                                    <input type="radio" class="rating__item" value="1" name="rating">
                                                    <input type="radio" class="rating__item" value="2" name="rating">
                                                    <input type="radio" class="rating__item" value="3" name="rating">
                                                    <input type="radio" class="rating__item" value="4" name="rating">
                                                    <input type="radio" class="rating__item" value="5" name="rating">
                                                </div>
                                            </div>
                                            <div class="rating__value">4</div>
                                        </div>
                                        <button type="submit" class="btn btn-reset doctors-body-slide__comments">
                                            Отзывы <span>(15)</span>
                                        </button>
                                    </div>
                                    <div class="doctors-body-slide__video">
                                        <span>Видео-визитка</span>
                                        <span class="icon-play">Включить видео</span>
                                    </div>
                                    <p class="doctors-body-slide__descr">
                                        Врач-офтальмолог высшей категории, кандидат медицинских наук, главный врач,
                                        основатель центра зрения «Доктор Линз» (Новосибирск)
                                        и «Центра зрения доктора Нагорского» (Кемерово)
                                    </p>
                                    <button type="submit"
                                        class="btn btn-reset btn--secondary doctors-body-slide__btn icon-arrow-right">
                                        Подробнее
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide doctors-body-slide">
                            <div class="doctors-body-slide__inner">
                                <div class="doctors-body-slide__img">
                                    <picture>
                                        <source srcset="img/doctors/photo/photo-1.avif" type="image/avif">
                                        <source srcset="img/doctors/photo/photo-1.webp" type="image/webp">
                                        <img loading="lazy" src="img/doctors/photo/photo-1.jpg" width="200" height="300"
                                            alt="Нагорский Петр Гарриевич">
                                    </picture>
                                </div>
                                <div class="doctors-body-slide__content">
                                    <h5 class="doctors-body-slide__name">
                                        Нагорский Петр Гарриевич
                                    </h5>
                                    <p class="doctors-body-slide__pos">
                                        Главный врач, офтальмоло
                                    </p>
                                    <p class="doctors-body-slide__standing">
                                        Стаж <span>N лет</span>
                                    </p>
                                    <div class="doctors-body-slide__reviews">
                                        <div class="rating doctors-body-slide__rating">
                                            <div class="rating__body">
                                                <div class="rating__active"></div>
                                                <div class="rating__items">
                                                    <input type="radio" class="rating__item" value="1" name="rating">
                                                    <input type="radio" class="rating__item" value="2" name="rating">
                                                    <input type="radio" class="rating__item" value="3" name="rating">
                                                    <input type="radio" class="rating__item" value="4" name="rating">
                                                    <input type="radio" class="rating__item" value="5" name="rating">
                                                </div>
                                            </div>
                                            <div class="rating__value">4</div>
                                        </div>
                                        <button type="submit" class="btn btn-reset doctors-body-slide__comments">
                                            Отзывы <span>(15)</span>
                                        </button>
                                    </div>
                                    <div class="doctors-body-slide__video">
                                        <span>Видео-визитка</span>
                                        <span class="icon-play">Включить видео</span>
                                    </div>
                                    <p class="doctors-body-slide__descr">
                                        Врач-офтальмолог высшей категории, кандидат медицинских наук, главный врач,
                                        основатель центра зрения «Доктор Линз» (Новосибирск)
                                        и «Центра зрения доктора Нагорского» (Кемерово)
                                    </p>
                                    <button type="submit"
                                        class="btn btn-reset btn--secondary doctors-body-slide__btn icon-arrow-right">
                                        Подробнее
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide doctors-body-slide">
                            <div class="doctors-body-slide__inner">
                                <div class="doctors-body-slide__img">
                                    <picture>
                                        <source srcset="img/doctors/photo/photo-1.avif" type="image/avif">
                                        <source srcset="img/doctors/photo/photo-1.webp" type="image/webp">
                                        <img loading="lazy" src="img/doctors/photo/photo-1.jpg" width="200" height="300"
                                            alt="Нагорский Петр Гарриевич">
                                    </picture>
                                </div>
                                <div class="doctors-body-slide__content">
                                    <h5 class="doctors-body-slide__name">
                                        Нагорский Петр Гарриевич
                                    </h5>
                                    <p class="doctors-body-slide__pos">
                                        Главный врач, офтальмоло
                                    </p>
                                    <p class="doctors-body-slide__standing">
                                        Стаж <span>N лет</span>
                                    </p>
                                    <div class="doctors-body-slide__reviews">
                                        <div class="rating doctors-body-slide__rating">
                                            <div class="rating__body">
                                                <div class="rating__active"></div>
                                                <div class="rating__items">
                                                    <input type="radio" class="rating__item" value="1" name="rating">
                                                    <input type="radio" class="rating__item" value="2" name="rating">
                                                    <input type="radio" class="rating__item" value="3" name="rating">
                                                    <input type="radio" class="rating__item" value="4" name="rating">
                                                    <input type="radio" class="rating__item" value="5" name="rating">
                                                </div>
                                            </div>
                                            <div class="rating__value">4</div>
                                        </div>
                                        <button type="submit" class="btn btn-reset doctors-body-slide__comments">
                                            Отзывы <span>(15)</span>
                                        </button>
                                    </div>
                                    <div class="doctors-body-slide__video">
                                        <span>Видео-визитка</span>
                                        <span class="icon-play">Включить видео</span>
                                    </div>
                                    <p class="doctors-body-slide__descr">
                                        Врач-офтальмолог высшей категории, кандидат медицинских наук, главный врач,
                                        основатель центра зрения «Доктор Линз» (Новосибирск)
                                        и «Центра зрения доктора Нагорского» (Кемерово)
                                    </p>
                                    <button type="submit"
                                        class="btn btn-reset btn--secondary doctors-body-slide__btn icon-arrow-right">
                                        Подробнее
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide doctors-body-slide">
                            <div class="doctors-body-slide__inner">
                                <div class="doctors-body-slide__img">
                                    <picture>
                                        <source srcset="img/doctors/photo/photo-1.avif" type="image/avif">
                                        <source srcset="img/doctors/photo/photo-1.webp" type="image/webp">
                                        <img loading="lazy" src="img/doctors/photo/photo-1.jpg" width="200" height="300"
                                            alt="Нагорский Петр Гарриевич">
                                    </picture>
                                </div>
                                <div class="doctors-body-slide__content">
                                    <h5 class="doctors-body-slide__name">
                                        Нагорский Петр Гарриевич
                                    </h5>
                                    <p class="doctors-body-slide__pos">
                                        Главный врач, офтальмоло
                                    </p>
                                    <p class="doctors-body-slide__standing">
                                        Стаж <span>N лет</span>
                                    </p>
                                    <div class="doctors-body-slide__reviews">
                                        <div class="rating doctors-body-slide__rating">
                                            <div class="rating__body">
                                                <div class="rating__active"></div>
                                                <div class="rating__items">
                                                    <input type="radio" class="rating__item" value="1" name="rating">
                                                    <input type="radio" class="rating__item" value="2" name="rating">
                                                    <input type="radio" class="rating__item" value="3" name="rating">
                                                    <input type="radio" class="rating__item" value="4" name="rating">
                                                    <input type="radio" class="rating__item" value="5" name="rating">
                                                </div>
                                            </div>
                                            <div class="rating__value">4</div>
                                        </div>
                                        <button type="submit" class="btn btn-reset doctors-body-slide__comments">
                                            Отзывы <span>(15)</span>
                                        </button>
                                    </div>
                                    <div class="doctors-body-slide__video">
                                        <span>Видео-визитка</span>
                                        <span class="icon-play">Включить видео</span>
                                    </div>
                                    <p class="doctors-body-slide__descr">
                                        Врач-офтальмолог высшей категории, кандидат медицинских наук, главный врач,
                                        основатель центра зрения «Доктор Линз» (Новосибирск)
                                        и «Центра зрения доктора Нагорского» (Кемерово)
                                    </p>
                                    <button type="submit"
                                        class="btn btn-reset btn--secondary doctors-body-slide__btn icon-arrow-right">
                                        Подробнее
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide doctors-body-slide">
                            <div class="doctors-body-slide__inner">
                                <div class="doctors-body-slide__img">
                                    <picture>
                                        <source srcset="img/doctors/photo/photo-1.avif" type="image/avif">
                                        <source srcset="img/doctors/photo/photo-1.webp" type="image/webp">
                                        <img loading="lazy" src="img/doctors/photo/photo-1.jpg" width="200" height="300"
                                            alt="Нагорский Петр Гарриевич">
                                    </picture>
                                </div>
                                <div class="doctors-body-slide__content">
                                    <h5 class="doctors-body-slide__name">
                                        Нагорский Петр Гарриевич
                                    </h5>
                                    <p class="doctors-body-slide__pos">
                                        Главный врач, офтальмоло
                                    </p>
                                    <p class="doctors-body-slide__standing">
                                        Стаж <span>N лет</span>
                                    </p>
                                    <div class="doctors-body-slide__reviews">
                                        <div class="rating doctors-body-slide__rating">
                                            <div class="rating__body">
                                                <div class="rating__active"></div>
                                                <div class="rating__items">
                                                    <input type="radio" class="rating__item" value="1" name="rating">
                                                    <input type="radio" class="rating__item" value="2" name="rating">
                                                    <input type="radio" class="rating__item" value="3" name="rating">
                                                    <input type="radio" class="rating__item" value="4" name="rating">
                                                    <input type="radio" class="rating__item" value="5" name="rating">
                                                </div>
                                            </div>
                                            <div class="rating__value">4</div>
                                        </div>
                                        <button type="submit" class="btn btn-reset doctors-body-slide__comments">
                                            Отзывы <span>(15)</span>
                                        </button>
                                    </div>
                                    <div class="doctors-body-slide__video">
                                        <span>Видео-визитка</span>
                                        <span class="icon-play">Включить видео</span>
                                    </div>
                                    <p class="doctors-body-slide__descr">
                                        Врач-офтальмолог высшей категории, кандидат медицинских наук, главный врач,
                                        основатель центра зрения «Доктор Линз» (Новосибирск)
                                        и «Центра зрения доктора Нагорского» (Кемерово)
                                    </p>
                                    <button type="submit"
                                        class="btn btn-reset btn--secondary doctors-body-slide__btn icon-arrow-right">
                                        Подробнее
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide doctors-body-slide">
                            <div class="doctors-body-slide__inner">
                                <div class="doctors-body-slide__img">
                                    <picture>
                                        <source srcset="img/doctors/photo/photo-1.avif" type="image/avif">
                                        <source srcset="img/doctors/photo/photo-1.webp" type="image/webp">
                                        <img loading="lazy" src="img/doctors/photo/photo-1.jpg" width="200" height="300"
                                            alt="Нагорский Петр Гарриевич">
                                    </picture>
                                </div>
                                <div class="doctors-body-slide__content">
                                    <h5 class="doctors-body-slide__name">
                                        Нагорский Петр Гарриевич
                                    </h5>
                                    <p class="doctors-body-slide__pos">
                                        Главный врач, офтальмоло
                                    </p>
                                    <p class="doctors-body-slide__standing">
                                        Стаж <span>N лет</span>
                                    </p>
                                    <div class="doctors-body-slide__reviews">
                                        <div class="rating doctors-body-slide__rating">
                                            <div class="rating__body">
                                                <div class="rating__active"></div>
                                                <div class="rating__items">
                                                    <input type="radio" class="rating__item" value="1" name="rating">
                                                    <input type="radio" class="rating__item" value="2" name="rating">
                                                    <input type="radio" class="rating__item" value="3" name="rating">
                                                    <input type="radio" class="rating__item" value="4" name="rating">
                                                    <input type="radio" class="rating__item" value="5" name="rating">
                                                </div>
                                            </div>
                                            <div class="rating__value">4</div>
                                        </div>
                                        <button type="submit" class="btn btn-reset doctors-body-slide__comments">
                                            Отзывы <span>(15)</span>
                                        </button>
                                    </div>
                                    <div class="doctors-body-slide__video">
                                        <span>Видео-визитка</span>
                                        <span class="icon-play">Включить видео</span>
                                    </div>
                                    <p class="doctors-body-slide__descr">
                                        Врач-офтальмолог высшей категории, кандидат медицинских наук, главный врач,
                                        основатель центра зрения «Доктор Линз» (Новосибирск)
                                        и «Центра зрения доктора Нагорского» (Кемерово)
                                    </p>
                                    <button type="submit"
                                        class="btn btn-reset btn--secondary doctors-body-slide__btn icon-arrow-right">
                                        Подробнее
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
