<div class="graph-modal modal-primary">
    <div class="graph-modal__container modal-primary__container" role="dialog" aria-modal="true"
        data-graph-target="back-call">
        <button class="js-modal-close graph-modal__close modal-primary__close icon-modal-close"
            aria-label="Закрыть модальное окно"></button>
        <div class="graph-modal__content modal-primary__content">
            <form action="#" class="back-call-form form-primary">
                <h3 class="form-primary__title">
                    Заказать звонок
                </h3>
                <label class="form-primary__label">
                    <input type="text" name="Имя" class="input-reset back-call-form__input back-call-form__input--name form-primary__input"
                    placeholder="Имя">
                </label>
          <label class="form-primary__label">
                    <input type="tel" name="Телефон"
                    class="input-reset back-call-form__input form-primary__input back-call-form__input--tel" placeholder="Телефон">
                </label> 
                <button class="btn btn-reset btn--secondary form-primary__btn">Записаться</button>
                <a href="#" class="form-primary__agreement">
                    Отправляя форму, ты соглашаешься с
                    <span>политикой конфиденциальности.</span>
                </a>
            </form>
        </div>
    </div>
</div> 
