<section class="reception reception--1" style="background-image: url(img/reception-bg-1.jpg)" ;>
    <div class="container">
        <div class="reception__inner">
            <div class="reception__content reception-content">
                <h3 class="reception-content__title">
                    Запишитесь на прием
                </h3>
                <p class="reception-content__subtitle">
                    Заполните форму для записи на прием
                    к офтальмологу. Наши администраторы свяжутся
                    с вами сразу как освободятся.
                </p>
                <p class="reception-content__descr">
                    Благодаря нашему сервису и доброжелательному отношению вы не потратите время зря и не простоите
                    в очередях весь день.
                    Мы предварительно ответим на ваши вопросы, запишем на удобное для вас время и напомним вам о записи
                    заранее.
                </p>
            </div>
            <div class="reception__form reception-form">
                <form action="#" class="reception-form__inner form-primary">
                    <h3 class="form-primary__title reception-form__title">
                        Записаться на приём
                    </h3>
                    <label class="form-primary__label reception-form__label">
                        <input type="text" name="Имя"
                            class="input-reset reception-form__input reception-form__input--name form-primary__input"
                            placeholder="Имя">
                    </label>
                    <label class="form-primary__label reception-form__label">
                        <input type="tel" name="Телефон"
                            class="input-reset reception-form__input reception-form__input--tel form-primary__input"
                            placeholder="Телефон">
                    </label>
                    <select class="form-primary__select reception-form__select">
                        <option value="">Услуга</option>
                        <option value="Ночные линзы">Ночные линзы</option>
                        <option value="Диагностика зрения">Диагностика зрения</option>
                        <option value="Аппаратное лечение">Аппаратное лечение</option>
                        <option value="Доставка">Доставка</option>
                        <option value="Офтальмолог">Офтальмолог</option>
                        <option value="Детский офтальмолог">Детский офтальмолог</option>
                        <option value="Ночные линзы">Ночные линзы</option>
                        <option value="Диагностика зрения">Диагностика зрения</option>
                        <option value="Аппаратное лечение">Аппаратное лечение</option>
                        <option value="Доставка">Доставка</option>
                        <option value="Офтальмолог">Офтальмолог</option>
                        <option value="Детский офтальмолог">Детский офтальмолог</option>
                    </select>
                    <label
                        class="form-primary__label form-primary__label--calendar icon-calendar reception-form__label reception-form__label--calendar">
                        <input type="text"
                            class="input-reset form-primary__input form-primary__input--calendar reception-form__input--calendar reception-form__input">
                    </label>
                    <button
                        class="btn btn-reset btn--secondary form-primary__btn reception-form__btn">Записаться</button>
                    <a href="#" class="form-primary__agreement reception-form__agreement">
                        Отправляя форму, ты соглашаешься с <span>политикой конфиденциальности.</span>
                    </a>
                </form>
            </div>
        </div>
        <picture>
            <source srcset="img/reception-img-1.avif" type="image/avif">
            <source srcset="img/reception-img-1.webp" type="image/webp">
            <img loading="lazy" src="img/reception-img-1.png" class="reception__img" alt="Мама с ребёнком">
        </picture>
    </div>
</section>
