<section class="reviews">
    <div class="container">
        <h2 class="reviews__title title-h2">
            Отзывы
        </h2>
        <div class="reviews__inner">
            <div class="reviews__tabs tabs reviews-tabs" data-tabs="reviews-tabs">
                <ul class="tabs__nav list-reset">
                    <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset" type="button">Видео</button></li>
                    <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset" type="button">Текстовые</button>
                    </li>
                </ul>
                <div class="tabs__content reviews-tabs__content">
                    <div class="tabs__panel reviews-tab reviews-tabs--video reviews-video">
                        <div class="swiper reviews-slider reviews-slider--video">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide reviews-video__slide reviews-video-slide">
                                    <div class="reviews-video-slide__top">
                                        <div class="reviews-video-slide__left">
                                            <span class="reviews-video-slide__name">Анна Васильева</span>
                                            <span class="reviews-video-slide__age-pos">10 лет, художественная
                                                гимнастика</span>
                                            <span class="reviews-video-slide__descr">Носит ночные линзы 3 года</span>
                                        </div>
                                        <time class="reviews-video-slide__date" datetime="2021-05-02">
                                            02/05/21
                                        </time>
                                    </div>
                                    <div class="video-modal reviews-video-slide__video" data-video-modal>
                                        <button class="video-modal__poster btn btn-reset">
                                            <img class="video-modal__img" src="img/about/about-photo/about-photo-2.jpg"
                                                alt="">
                                            <span class="video-modal__play play--triagle">
                                                Запустить видео
                                            </span>
                                        </button>
                                        <div class="video-modal__start">
                                            <video controls class="video-js video-modal__video"
                                                poster="img/about/about-photo/about-photo-2.jpg">
                                                <source src="./video.mp4" type="video/mp4">
                                            </video>
                                        </div>
                                    </div>
                                    <button type="submit"
                                        class="btn btn-reset reviews-video-slide__more icon-arrow-right">
                                        История успеха
                                    </button>
                                </div>
                                <div class="swiper-slide reviews-video__slide reviews-video-slide">
                                    <div class="reviews-video-slide__top">
                                        <div class="reviews-video-slide__left">
                                            <span class="reviews-video-slide__name">Анна Васильева</span>
                                            <span class="reviews-video-slide__age-pos">10 лет, художественная
                                                гимнастика</span>
                                            <span class="reviews-video-slide__descr">Носит ночные линзы 3 года</span>
                                        </div>
                                        <time class="reviews-video-slide__date" datetime="2021-05-02">
                                            02/05/21
                                        </time>
                                    </div>
                                    <div class="video-modal reviews-video-slide__video" data-video-modal>
                                        <button class="video-modal__poster btn btn-reset">
                                            <img class="video-modal__img" src="img/about/about-photo/about-photo-2.jpg"
                                                alt="">
                                            <span class="video-modal__play play--triagle">
                                                Запустить видео
                                            </span>
                                        </button>
                                        <div class="video-modal__start">
                                            <video controls class="video-js video-modal__video"
                                                poster="img/about/about-photo/about-photo-2.jpg">
                                                <source src="./video.mp4" type="video/mp4">
                                            </video>
                                        </div>
                                    </div>
                                    <button type="submit"
                                        class="btn btn-reset reviews-video-slide__more icon-arrow-right">
                                        История успеха
                                    </button>
                                </div>
                                <div class="swiper-slide reviews-video__slide reviews-video-slide">
                                    <div class="reviews-video-slide__top">
                                        <div class="reviews-video-slide__left">
                                            <span class="reviews-video-slide__name">Анна Васильева</span>
                                            <span class="reviews-video-slide__age-pos">10 лет, художественная
                                                гимнастика</span>
                                            <span class="reviews-video-slide__descr">Носит ночные линзы 3 года</span>
                                        </div>
                                        <time class="reviews-video-slide__date" datetime="2021-05-02">
                                            02/05/21
                                        </time>
                                    </div>
                                    <div class="video-modal reviews-video-slide__video" data-video-modal>
                                        <button class="video-modal__poster btn btn-reset">
                                            <img class="video-modal__img" src="img/about/about-photo/about-photo-2.jpg"
                                                alt="">
                                            <span class="video-modal__play play--triagle">
                                                Запустить видео
                                            </span>
                                        </button>
                                        <div class="video-modal__start">
                                            <video controls class="video-js video-modal__video"
                                                poster="img/about/about-photo/about-photo-2.jpg">
                                                <source src="./video.mp4" type="video/mp4">
                                            </video>
                                        </div>
                                    </div>
                                    <button type="submit"
                                        class="btn btn-reset reviews-video-slide__more icon-arrow-right">
                                        История успеха
                                    </button>
                                </div>
                                <div class="swiper-slide reviews-video__slide reviews-video-slide">
                                    <div class="reviews-video-slide__top">
                                        <div class="reviews-video-slide__left">
                                            <span class="reviews-video-slide__name">Анна Васильева</span>
                                            <span class="reviews-video-slide__age-pos">10 лет, художественная
                                                гимнастика</span>
                                            <span class="reviews-video-slide__descr">Носит ночные линзы 3 года</span>
                                        </div>
                                        <time class="reviews-video-slide__date" datetime="2021-05-02">
                                            02/05/21
                                        </time>
                                    </div>
                                    <div class="video-modal reviews-video-slide__video" data-video-modal>
                                        <button class="video-modal__poster btn btn-reset">
                                            <img class="video-modal__img" src="img/about/about-photo/about-photo-2.jpg"
                                                alt="">
                                            <span class="video-modal__play play--triagle">
                                                Запустить видео
                                            </span>
                                        </button>
                                        <div class="video-modal__start">
                                            <video controls class="video-js video-modal__video"
                                                poster="img/about/about-photo/about-photo-2.jpg">
                                                <source src="./video.mp4" type="video/mp4">
                                            </video>
                                        </div>
                                    </div>
                                    <button type="submit"
                                        class="btn btn-reset reviews-video-slide__more icon-arrow-right">
                                        История успеха
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="reviews__pagination"></div>
                        <div class="reviews__nav reviews__nav--prev icon-arrow-right"></div>
                        <div class="reviews__nav reviews__nav--next icon-arrow-right"></div>
                    </div>
                    <div class="tabs__panel reviews-tab reviews-tabs--text reviews-text">
                        <div class="swiper reviews-slider reviews-slider--text">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide reviews-text__slide reviews-text-slide">
                                    <div class="reviews-text-slide__top">
                                        <div class="reviews-text-slide__left">
                                            <img loading="lazy" src="img/reviews/avatar-1.jpg" class="image" width="77"
                                                height="77" alt="Игорь Фёдоров">
                                            <div class="reviews-text-slide__info">
                                                <span class="reviews-text-slide__name">Игорь Фёдоров</span>
                                                <span class="reviews-text-slide__age-pos">40 лет, юрист</span>
                                                <span class="reviews-text-slide__descr">Носит ночные линзы 10 лет</span>
                                            </div>
                                        </div>
                                        <time class="reviews-text-slide__date" datetime="2021-05-02">
                                            02/05/21
                                        </time>
                                    </div>
                                    <div class="reviews-text-slide__text block-scroll">
                                        Немного о себе: Живу в Краснодаре. По образованию врач. Миопия средней степени
                                        обоих глаз с 7-летнего возраста. В детстве очки носил только на уроках и дома. В
                                        подростковом возрасте очков стесняться престал и носил постоянно, но масса
                                        неудобств, таких как запотевание стекол в холодное время года, постоянное
                                        давление на переносицу, разбалтывание оправы, не доставляла особого
                                        удовольствия. Пробовал носить мягкие контактные линзы, но видимо из-за не
                                        регулярного ухода за ними возник кератит, после чего линзы вообще носить не
                                        смог. Да и честно говоря, в студенческие годы, когда все «на бегу», «на скоку»
                                        Немного о себе: Живу в Краснодаре. По образованию врач. Миопия средней степени
                                        обоих глаз с 7-летнего возраста. В детстве очки носил только на уроках и дома. В
                                        подростковом возрасте очков стесняться престал и носил постоянно, но масса
                                        неудобств, таких как запотевание стекол в холодное время года, постоянное
                                        давление на переносицу, разбалтывание оправы, не доставляла особого
                                        удовольствия. Пробовал носить мягкие контактные линзы, но видимо из-за не
                                        регулярного ухода за ними возник кератит, после чего линзы вообще носить не
                                        смог. Да и честно говоря, в студенческие годы, когда все «на бегу», «на скоку»
                                    </div>
                                    <button type="submit"
                                        class="btn btn-reset reviews-text-slide__more icon-arrow-right">Смотреть
                                        оригинал отзыва</button>
                                </div>
                                <div class="swiper-slide reviews-text__slide reviews-text-slide">
                                    <div class="reviews-text-slide__top">
                                        <div class="reviews-text-slide__left">
                                            <img loading="lazy" src="img/reviews/avatar-1.jpg" class="image" width="77"
                                                height="77" alt="Игорь Фёдоров">
                                            <div class="reviews-text-slide__info">
                                                <span class="reviews-text-slide__name">Игорь Фёдоров</span>
                                                <span class="reviews-text-slide__age-pos">40 лет, юрист</span>
                                                <span class="reviews-text-slide__descr">Носит ночные линзы 10 лет</span>
                                            </div>
                                        </div>
                                        <time class="reviews-text-slide__date" datetime="2021-05-02">02/05/21</time>
                                    </div>
                                    <div class="reviews-text-slide__text block-scroll">
                                        Немного о себе: Живу в Краснодаре. По образованию врач. Миопия средней степени
                                        обоих глаз с 7-летнего возраста. В детстве очки носил только на уроках и дома. В
                                        подростковом возрасте очков стесняться престал и носил постоянно, но масса
                                        неудобств, таких как запотевание стекол в холодное время года, постоянное
                                        давление на переносицу, разбалтывание оправы, не доставляла особого
                                        удовольствия. Пробовал носить мягкие контактные линзы, но видимо из-за не
                                        регулярного ухода за ними возник кератит, после чего линзы вообще носить не
                                        смог. Да и честно говоря, в студенческие годы, когда все «на бегу», «на скоку»
                                        Немного о себе: Живу в Краснодаре. По образованию врач. Миопия средней степени
                                        обоих глаз с 7-летнего возраста. В детстве очки носил только на уроках и дома. В
                                        подростковом возрасте очков стесняться престал и носил постоянно, но масса
                                        неудобств, таких как запотевание стекол в холодное время года, постоянное
                                        давление на переносицу, разбалтывание оправы, не доставляла особого
                                        удовольствия. Пробовал носить мягкие контактные линзы, но видимо из-за не
                                        регулярного ухода за ними возник кератит, после чего линзы вообще носить не
                                        смог. Да и честно говоря, в студенческие годы, когда все «на бегу», «на скоку»
                                    </div>
                                    <button type="submit"
                                        class="btn btn-reset reviews-text-slide__more icon-arrow-right">Смотреть
                                        оригинал отзыва</button>
                                </div>
                                <div class="swiper-slide reviews-text__slide reviews-text-slide">
                                    <div class="reviews-text-slide__top">
                                        <div class="reviews-text-slide__left">
                                            <img loading="lazy" src="img/reviews/avatar-1.jpg" class="image" width="77"
                                                height="77" alt="Игорь Фёдоров">
                                            <div class="reviews-text-slide__info">
                                                <span class="reviews-text-slide__name">Игорь Фёдоров</span>
                                                <span class="reviews-text-slide__age-pos">40 лет, юрист</span>
                                                <span class="reviews-text-slide__descr">Носит ночные линзы 10 лет</span>
                                            </div>
                                        </div>
                                        <time class="reviews-text-slide__date" datetime="2021-05-02">02/05/21</time>
                                    </div>
                                    <div class="reviews-text-slide__text block-scroll">
                                        Немного о себе: Живу в Краснодаре. По образованию врач. Миопия средней степени
                                        обоих глаз с 7-летнего возраста. В детстве очки носил только на уроках и дома. В
                                        подростковом возрасте очков стесняться престал и носил постоянно, но масса
                                        неудобств, таких как запотевание стекол в холодное время года, постоянное
                                        давление на переносицу, разбалтывание оправы, не доставляла особого
                                        удовольствия. Пробовал носить мягкие контактные линзы, но видимо из-за не
                                        регулярного ухода за ними возник кератит, после чего линзы вообще носить не
                                        смог. Да и честно говоря, в студенческие годы, когда все «на бегу», «на скоку»
                                        Немного о себе: Живу в Краснодаре. По образованию врач. Миопия средней степени
                                        обоих глаз с 7-летнего возраста. В детстве очки носил только на уроках и дома. В
                                        подростковом возрасте очков стесняться престал и носил постоянно, но масса
                                        неудобств, таких как запотевание стекол в холодное время года, постоянное
                                        давление на переносицу, разбалтывание оправы, не доставляла особого
                                        удовольствия. Пробовал носить мягкие контактные линзы, но видимо из-за не
                                        регулярного ухода за ними возник кератит, после чего линзы вообще носить не
                                        смог. Да и честно говоря, в студенческие годы, когда все «на бегу», «на скоку»
                                    </div>
                                    <button type="submit"
                                        class="btn btn-reset reviews-text-slide__more icon-arrow-right">Смотреть
                                        оригинал отзыва</button>
                                </div>
                                <div class="swiper-slide reviews-text__slide reviews-text-slide">
                                    <div class="reviews-text-slide__top">
                                        <div class="reviews-text-slide__left">
                                            <img loading="lazy" src="img/reviews/avatar-1.jpg" class="image" width="77"
                                                height="77" alt="Игорь Фёдоров">
                                            <div class="reviews-text-slide__info">
                                                <span class="reviews-text-slide__name">Игорь Фёдоров</span>
                                                <span class="reviews-text-slide__age-pos">40 лет, юрист</span>
                                                <span class="reviews-text-slide__descr">Носит ночные линзы 10 лет</span>
                                            </div>
                                        </div>
                                        <time class="reviews-text-slide__date" datetime="2021-05-02">02/05/21</time>
                                    </div>
                                    <div class="reviews-text-slide__text block-scroll">
                                        Немного о себе: Живу в Краснодаре. По образованию врач. Миопия средней степени
                                        обоих глаз с 7-летнего возраста. В детстве очки носил только на уроках и дома. В
                                        подростковом возрасте очков стесняться престал и носил постоянно, но масса
                                        неудобств, таких как запотевание стекол в холодное время года, постоянное
                                        давление на переносицу, разбалтывание оправы, не доставляла особого
                                        удовольствия. Пробовал носить мягкие контактные линзы, но видимо из-за не
                                        регулярного ухода за ними возник кератит, после чего линзы вообще носить не
                                        смог. Да и честно говоря, в студенческие годы, когда все «на бегу», «на скоку»
                                        Немного о себе: Живу в Краснодаре. По образованию врач. Миопия средней степени
                                        обоих глаз с 7-летнего возраста. В детстве очки носил только на уроках и дома. В
                                        подростковом возрасте очков стесняться престал и носил постоянно, но масса
                                        неудобств, таких как запотевание стекол в холодное время года, постоянное
                                        давление на переносицу, разбалтывание оправы, не доставляла особого
                                        удовольствия. Пробовал носить мягкие контактные линзы, но видимо из-за не
                                        регулярного ухода за ними возник кератит, после чего линзы вообще носить не
                                        смог. Да и честно говоря, в студенческие годы, когда все «на бегу», «на скоку»
                                    </div>
                                    <button type="submit"
                                        class="btn btn-reset reviews-text-slide__more icon-arrow-right">Смотреть
                                        оригинал отзыва</button>
                                </div>
                            </div>
                        </div>
                        <div class="reviews__pagination"></div>
                        <div class="reviews__nav reviews__nav--prev icon-arrow-right"></div>
                        <div class="reviews__nav reviews__nav--next icon-arrow-right"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
