<section class="service">
    <div class="container">
        <h2 class="service__title title-h2 tac">
            Сервис клиники ДОКТОР ЛИНЗ
        </h2>
        <div class="service__inner">
            <div class="service__top service-top">
                <ul class="service-top__list list-reset">
                    <li class="service-top__item service-top-item service-top-item--1">
                        <a href="#" class="service-top-item__inner">
                            <h4 class="service-top-item__title">
                                Запись на прием врача в клинике
                            </h4>
                            <p class="service-top-item__descr">
                                Наши врачи – это специалисты высшей категории
                                и кандидаты медицинских наук. Они диагностируют
                                и остановят процесс ухудшения вашего зрения.
                            </p>
                            <button type="submit"
                                class="btn btn-reset btn--primary btn--primary-icon service-top-item__btn icon-arrow-right">
                                Выбрать врача
                            </button>
                            <div class="service-top-item__img">
                                <img src="img/service/service-1.png" alt="Запись на прием врача 
                                в клинике">
                            </div>
                        </a>
                    </li>
                    <li class="service-top__item service-top-item service-top-item--2">
                        <a href="#" class="service-top-item__inner">
                            <h4 class="service-top-item__title">
                                Выбрать услуги клиники
                            </h4>
                            <p class="service-top-item__descr">
                                Диагностика, биометрия, подбор очков, линз и т.д. Консультация и быстрая запись на
                                прием в удобное для вас время.
                            </p>
                            <button type="submit"
                                class="btn btn-reset btn--primary btn--primary-icon service-top-item__btn icon-arrow-right">
                                Выбрать услугу
                            </button>
                            <div class="service-top-item__img">
                                <img src="img/service/service-2.png" alt="Выбрать услуги клиники">
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="service__bottom service-bottom">
                <div class="swiper service-bottom__slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide service-bottom__slide service-bottom-slide service-bottom-slide--1">
                            <a href="#" class="service-bottom-slide__inner">
                                <div class="service-bottom-slide__content">
                                    <h4 class="service-bottom-slide__title">
                                        Ночные линзы
                                    </h4>
                                    <p class="service-bottom-slide__descr">
                                        Замедляют и останавливают развитие близорукости у детей
                                        и взрослых.
                                    </p>
                                    <span class="service-bottom-slide__link icon-arrow-right"></span>
                                </div>
                                <svg class="service-bottom-slide__icon">
                                    <use xlink:href="img/sprite.svg#services-icon-1"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="swiper-slide service-bottom__slide service-bottom-slide service-bottom-slide--2">
                            <a href="#" class="service-bottom-slide__inner">
                                <div class="service-bottom-slide__content">
                                    <h4 class="service-bottom-slide__title">
                                        Диагностика
                                    </h4>
                                    <p class="service-bottom-slide__descr">
                                        Диагностика зрения у детей (0+)
                                        и взрослых: бесконтактно
                                        и безболезненно, по Европейскому протоколу
                                    </p>
                                    <span class="service-bottom-slide__link icon-arrow-right"></span>
                                </div>
                                <svg class="service-bottom-slide__icon">
                                    <use xlink:href="img/sprite.svg#services-icon-2"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="swiper-slide service-bottom__slide service-bottom-slide service-bottom-slide--3">
                            <a href="#" class="service-bottom-slide__inner">
                                <div class="service-bottom-slide__content">
                                    <h4 class="service-bottom-slide__title">
                                        Оптика
                                    </h4>
                                    <p class="service-bottom-slide__descr">
                                        Если вы нуждаетесь в коррекции зрения, мы подберем качественные и безопасные
                                        очки или линзы для глаз.
                                    </p>
                                    <span class="service-bottom-slide__link icon-arrow-right"></span>
                                </div>
                                <svg class="service-bottom-slide__icon">
                                    <use xlink:href="img/sprite.svg#services-icon-3"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
