<section class="we-map">
    <div class="we-map__inner">
        <div class="we-map__tabs tabs" data-tabs="we-map-tabs">
            <ul class="tabs__nav list-reset">
                <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset" type="button">Новосибирск</button>
                </li>
                <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset" type="button">Кемерово</button></li>
            </ul>
            <div class="tabs__content">
                <div class="tabs__panel we-map-city" id="we-map--novosibirsk"></div>
                <div class="tabs__panel we-map-city" id="we-map--kemerovo"></div>
            </div>
        </div>
    </div>
</section>
