.btn-reset {
    border: none;
    padding: 0;
    background: transparent;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

.btn {
    transition: color $transitionSpeed $transitionFunction,
        background-color $transitionSpeed $transitionFunction,
        border $transitionSpeed $transitionFunction;

    &--primary {
        background: #33C1CC;
        font-size: 15px;
        line-height: math.div(24, 15);
        color: $whiteColor;
        padding: 11px 30px;
        &:hover{
            background: #0C669C;
        }
    }
}
