.grid-column-12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 30px;
}

.hero-nav-arrow {
    transition: background-color $transitionSpeed $transitionFunction,
        color $transitionSpeed $transitionFunction;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 998;
    cursor: pointer;
    @include adaptiveValue("width", 76, 36, 1920, 576, 1);
    @include adaptiveValue("height", 76, 36, 1920, 576, 1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
        line-height: 1;
        @include adaptiveValue("font-size", 14, 7.2, 1920, 576, 1);
        color: $whiteColor;
        transition: color $transitionSpeed $transitionFunction;
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.4);
    }

    @media (max-width:1500px) {
        background-color: $whiteColor;
        box-shadow: 0px 2px 10px rgba(78, 127, 222, 0.2);

        &::before {
            color: #33C1CC;
        }

        &:hover {
            background-color: #33C1CC;

            &::before {
                color: $whiteColor;
            }
        }
    }
}

.hero-nav-prev {
    left: 50px;

    &::before {
        transform: rotate(180deg);
    }

    @media (max-width:1500px) {
        left: 5px;
    }

    @media (max-width:$smallTablet) {
        display: none;
    }
}

.hero-nav-next {
    right: 50px;

    @media (max-width:1500px) {
        right: 5px;
    }

    @media (max-width:$smallTablet) {
        top: auto;
        bottom: 37px;
        right: 15px;
        transform: translateY(0);

        &:hover {
            background-color: $whiteColor;

            &::before {
                color: #33C1CC;
            }
        }
    }
}

.hero__pagination {
    position: relative;
    bottom: 37px !important;
    z-index: 998;

    .swiper-pagination-bullet {
        width: 80px;
        height: 26px;
        border-radius: 1px;
        opacity: 1;

        margin: 0 !important;
        position: relative;
        background-color: transparent;

        &::before {
            content: '';
            background: rgba(255, 255, 255, 0.3);
            width: 100%;
            height: 6px;
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
        }

        &:not(:first-child) {
            margin-left: 7.5px !important;
        }

        &.swiper-pagination-bullet-active {
            &::before {
                background: $whiteColor;
            }
        }

        @media (max-width:$smallTablet) {
            width: 21px;
            height: 13px;

            &::before {
                height: 3px;
            }

            &:not(:first-child) {
                margin-left: 4px !important;
            }
        }
    }

}

.title-h2 {
    color: #2A2651;
    font-weight: 500;
    @include adaptiveValue("font-size", 36, 24);
    line-height: math.div(44, 36);
    text-align: center;

    @media (max-width:$mobile) {
        max-width: 320px;
        margin: 0 auto;
    }
}



.our-doctors__navigation {
    position: absolute;
    width: 42px;
    height: 42px;
    background-color: #39B6C0;
    box-shadow: 0px 2px 10px #33C1CC;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    cursor: pointer;
    transition: background-color $transitionSpeed $transitionFunction;

    &::before {
        font-size: 7.5px;
        color: $whiteColor;
    }

    &::after {
        content: "";
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 1px solid #92F7FF;
        position: absolute;
        z-index: -1;
    }

    &:hover {
        background-color: #0C669C;

        &.swiper-button-disabled {
            background-color: #39B6C0;
        }
    }

    @media (max-width:900px) {
        width: 28px;
        height: 28px;

        &::after {
            width: 40px;
            height: 40px;
        }
    }
}

.our-doctors__navigation--prev {
    top: 0;
    left: 50%;

    &::before {
        transform: rotate(-90deg);
    }

    @media (max-width:900px) {
        top: 50%;
        transform: translateY(-50%);
        left: 0;

        &::before {
            transform: rotate(180deg);
        }
    }
}

.our-doctors__navigation--next {
    bottom: 0;
    left: 50%;

    &::before {
        transform: rotate(90deg);
    }

    @media (max-width:900px) {
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        left: auto;

        &::before {
            transform: rotate(0);
        }
    }
}


.our-doctors__pagination {
    position: absolute;
    right: 60px;
    bottom: 75px;
    left: auto;
    width: auto;
    z-index: 999;
    display: flex;
    align-items: center;
    color: #6D768C;
    font-size: 16px;
    line-height: math.div(26, 16);
    font-weight: 400;

    .swiper-pagination-current {
        font-weight: 700;
    }

    .swiper-pagination-total {
        margin-left: 2px;
    }

    @media (max-width:900px) {
        bottom: -30px;
        right: 50%;
        transform: translateX(50%);
    }
}



.about-photo-nav {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(78, 127, 222, 0.2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 999;
    bottom: 17px;
    transition: background-color $transitionSpeed $transitionFunction;

    &::before {
        font-size: 10px;
        color: #33C1CC;
        transition: color $transitionSpeed $transitionFunction;
    }

    &--prev {
        display: none;
        left: 17px;

        &::before {
            transform: rotate(180deg);
        }
    }

    &--next {
        right: 17px;
    }

    &:hover {
        background-color: #33C1CC;

        &::before {
            color: $whiteColor;
        }
    }

    @media (max-width:$smallTablet) {
        width: 36px;
        height: 36px;
        bottom: 10px;

        &::before {
            font-size: 7.2px;
        }
    }
}

.about-photo-pagination {
    display: none;

    @media (max-width:$mobile) {
        display: inline-block;
    }

    width: auto !important;
    position: absolute;
    height: 6px;
    bottom: -10px !important;
    left: 50% !important;
    transform: translateX(-50%);

    .swiper-pagination-bullet {
        opacity: 1;
        background-color: #E9EDF6;
        width: 6px;
        height: 6px;
        border-radius: 50%;

        &.swiper-pagination-bullet-active {
            background-color: #39B6C0;
        }
    }
}


.play--triagle {
    &::before {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 11.25px 0 11.25px 19.5px;
        border-color: transparent transparent transparent #39b7c0;
        display: block;
        z-index: 5;

        @media (max-width:$smallTablet) {
            border-width: 8.5px 0 8.5px 15px;
        }
    }
}


.asd {
    overflow: hidden;
}
